.manage-calendar-container {
}

.trash-picker-container {
}

.delete-calendar {
}

.calendar-users-container,
.calendar-accounts-container {
  flex: 1;
}

.calendar-users-container {
  border-right: var(--divider-theme-color) solid 2px;
}

.calendar-users-header,
.calendar-accounts-header {
  font-size: var(--sixteen-font-size);
}

.calendar-user-card,
.calendar-account-card {
  display: flex;
  justify-content: space-between;

  border: var(--divider-theme-color) solid 1px;
  border-radius: 2px;

  padding: 4px;
  margin-bottom: 4px;
}

.user-icons,
.account-icons {
}

.user-remove,
.account-remove,
.user-promote {
}

.user-remove:hover,
.account-remove,
.user-promote:hover {
  cursor: pointer;
}

.calendar-info-and-accounts-container {
  flex: 1;
}

.calendar-info-container {
}
.invite-container {
}
