.manage-calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.calendar-users-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: black solid medium;
}

.calendar-user-card {
  display: flex;
  flex-direction: row;

  border: black solid thin;
  border-radius: 8px;

  padding: 8px;
}

.user-icons {
  padding-left: 8px;
}

.user-delete {
  border: black solid thin;
  border-radius: 3px;
  padding: 1px;
}

.user-delete:hover {
  cursor: pointer;
}

.calendar-info-and-accounts-container {
  flex: 1;
}

.calendar-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: black solid thin;
}

.calendar-info-label {
  color: var(--secondary-text-theme-color);
}

.calendar-info-input {
  width: 100%;
  box-sizing: border-box;
}

.invite-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 20px;
}

.invite-input {
  flex: 2;
  box-sizing: border-box;
}

.invite-submit {
  flex: 1;
  border-radius: 5px;
  height: 50%;
  background-color: var(--seven-primary-color);
}

.invite-submit:hover {
  background-color: var(--eight-primary-color);
}

.save-button {
  width: 100%;
  background-color: var(--seven-primary-color);
}

.save-button:hover {
  background-color: var(--eight-primary-color);
}
