.plans-page-background {
	min-height: 100vh;
	background: linear-gradient(120deg, var(--three-primary-color) 60%, var(--super-light-blue-theme-color) 0%);
	overflow: auto;
}
.plan-page-title {
	color: var(--black-theme-color);
	margin: 0;
	padding: 40px 0 20px 0;
	font-size: var(--super-gigantic-font-size);
}
.plan-title-emphasis {
	border-bottom: 2px solid var(--yellow-theme-color) !important;
}
.pricing-container {
	display: flex;
	-webkit-display: flex;

	align-items: flex-start;
	align-content: flex-start;

	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}
.plan-page-description {
	background-color: var(--light-light-blue-theme-color);
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	margin: 20px;
	min-width: 35%;
}
.plan-container {
	flex-grow: 1;
	margin: 20px;
}
.plan-row {
	text-align: left;
	margin: 5px 0 0 0;
	display: block;
	min-height: 40px;
	border-bottom: 2px solid var(--three-primary-color);
}
.plan-row:last-child {
	border: none;
}
.plan-row-label {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 50%;
}
.plan-row-value {
	padding: 0 10px 0 10px;
	margin: 0;
	float: right;
	width: 50px;
	text-align: center;
}
.plan-row-increment {
	float: right;
	margin: 0 0 0 0;
	display: inline-block;
	background-color: transparent;
	color: var(--five-primary-color);
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.plan-row-increment.minus {
	color: var(--red-theme-color);
	background-color: transparent;
}
.plan-row input {
	margin: 10px 10px 0 0;
	transform: scale(2);
	float: right;
}
.checkmark {
	background-color: transparent;
	color: var(--green-theme-color);
	float: right;
	margin-right: 3px;
}
.plan-footer {
}
.StripeElement {
	background-color: var(--white-theme-color);
	height: 40px;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
	border-color: var(--red-theme-color);
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

.sign-up {
	font-size: var(--extra-large-font-size);
	background-color: var(--pink-theme-color);
	padding: 10px;
	margin-top: 10px;
	border-radius: 50px;
	width: 40%;

	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.sign-up:hover {
	transform: scale(1.1);
}
