.custom-campaign-button {
  position: absolute;
  top: 5px;
  right: 40px;

  padding: 4px 10px 4px 10px;

  border-radius: 100px;
  border: 1px solid var(--off-black-theme-color);

  color: var(--off-black-theme-color);

  cursor: pointer;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.custom-campaign-button:hover {
  color: var(--white-theme-color);
  border-color: var(--blue-theme-color);
  background-color: var(--blue-theme-color);
}

.recipe-navigation-container {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 20px;

  color: var(--off-black-theme-color);

  border-bottom: 1px solid var(--off-black-theme-color);
  box-sizing: border-box;
}
.recipe-navigation-option {
  padding: 20px;

  border-bottom: 1px solid transparent;

  cursor: pointer;
}
.recipe-navigation-option:hover,
.recipe-navigation-option.active {
  color: var(--black-theme-color);
  border-color: var(--blue-theme-color);
}

.recipes-container-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.preview-recipe {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: var(--off-black-theme-color);
}
.recipe-navigation-and-post-preview-container {
  display: flex;

  justify-content: flex-start;

  flex-wrap: nowrap;

  width: 100%;

  padding: 10px;

  box-sizing: border-box;
}

.preview-navigation-container {
  flex: 1;

  max-height: 600px;
}
.recipe-post-and-use-container {
  flex: 2;

  display: flex;

  flex-direction: column;

  padding: 20px 20px 0 20px;

  color: var(--white-theme-color);
}
.post-preview {
  flex: 1;
}
.use-recipe-date-container {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}
.use-this-recipe {
  padding: 10px 20px 10px 20px;

  border-radius: 50px;

  background-color: var(--blue-theme-color);

  cursor: pointer;
}

.recipes-container {
  flex-shrink: 0;

  display: flex;

  justify-content: flex-start;

  flex-wrap: nowrap;

  padding: 10px;

  box-sizing: border-box;
}
.recipe-container {
  flex-grow: 1;
  position: relative;

  min-height: 20vh;
  max-height: 20vh;

  margin: 10px;

  border-radius: 4px;

  background-color: var(--light-blue-theme-color);
  cursor: pointer;
}
.recipe-name {
  position: absolute;
  bottom: 0;

  width: 100%;

  text-align: center;
  color: var(--white-theme-color);
  background: linear-gradient(
    to right,
    var(--dark-grey-theme-color),
    var(--off-black-theme-color),
    var(--dark-grey-theme-color)
  );
  border-radius: 0 0 4px 4px;
}
