.posting-form {
}
.content-header {
	background-color: var(--blue-theme-color);
}
.account-tab {
	width: 15%;
	display: inline-block;
	margin: 10px 0 0 20px;
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
	border-radius: 4px 4px 0 0;
}
.account-tab button {
	padding: 15px 0 15px 0;
	width: 100%;
	background-color: transparent;
	color: inherit;
}
.active-account-tab {
	background-color: var(--green-theme-color);
	color: var(--black-theme-color) !important;
}
.posting-textarea {
	outline: 0;
	float: left;
	width: 100%;
	max-width: 100%;

	border-radius: 4px;
	margin: 10px 0 10px 0;
	background: transparent;
	overflow: auto;
}
.save-post-button-background {
	width: 100%;
}
.save-post-button {
	font-size: var(--large-font-size);
	background-color: var(--pink-theme-color);
	min-width: 30%;
	padding: 10px 0 10px 0;
	margin: 20px 0 10px 0;
	border-radius: 4px;
	transition: all 1s ease;

	position: sticky;
}
.save-post-button:hover {
	transform: scale(1.2);
}
