.posting-form {
}
.content-header {
	background-color: var(--blue-theme-color);
}
.account-tab {
	width: 15%;
	display: inline-block;
	margin: 10px 0 0 20px;
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
	border-radius: 4px 4px 0 0;
}
.account-tab button {
	padding: 10px 0 10px 0;
	width: 100%;
	background-color: transparent;
	color: inherit;
}
.active-account-tab {
	background-color: var(--green-theme-color);
}
.posting-textarea {
	outline: 0;
	float: left;
	width: stretch;
	min-height: 100px;

	border: 1px solid var(--grey-theme-color);
	border-radius: 4px;
	margin: 10px 0 10px 0;
	background: transparent;
	overflow: auto;
	resize: none;
}
.posting-textarea:focus {
	border: 1px solid var(--blue-theme-color);
}
