.book-call-hyperlink {
	color: var(--white-theme-color);
	text-align: center;
	text-decoration: none;
	font-size: 30pt;
	padding: 30px;
	width: 50%;
	margin: 10% 0 0 0;
	background-color: var(--five-primary-color);
	border-radius: 200px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;

	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.book-call-hyperlink:hover {
	transform: scale(1.1);
}
