.main-container {
  position: relative;
  display: flex;

  transition: all 0.2s ease;
}
.full-screen {
  max-height: 100vh;
  min-height: 100vh;
}

.x-wrap {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
}
.y-wrap {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-sizing: border-box;
}

.fit-parent {
  width: 100%;
  height: 100%;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.floating-box {
  margin-top: 32px;
  margin-right: 20%;
  margin-bottom: 32px;
  margin-left: 20%;

  min-width: 200px;
}

.test-mode {
  background-color: red;
}
