.main-container {
  position: relative;
  display: flex;
  box-sizing: border-box;

  transition: all 0.2s ease;
}
.full-screen {
  max-height: 100vh;
  min-height: 100vh;
}

.x-wrap {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}

.x-fill {
  width: 100%;
}

.y-fill {
  height: 100%;
}
.fill-parent {
  width: 100%;
  height: 100%;
}

.full-center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}

.container-box {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  overflow: hidden;
}
.container-box.tinier {
  min-width: 150px;
  max-width: 150px;
}
.container-box.tiny {
  min-width: 200px;
}
.container-box.small {
  min-width: 200px;
  width: 25vw;
}
.container-box.medium {
  min-width: 400px;
  max-width: 500px;
}

.floating-box {
  margin-top: 32px;
  margin-right: 20%;
  margin-bottom: 32px;
  margin-left: 20%;

  min-width: 200px;
}
.same-size-flex-items {
  flex: 1 1 0;
  width: 0;
}

.fill-flex {
  flex: 1;
}
.test-mode {
  background-color: red;
  flex: 1;
}
