.main-container {
  position: relative;
  display: flex;

  transition: all 0.2s ease;
}

.main-wrapper {
  flex-direction: column;
}

.container1 {
  min-height: 100vh;
}

.x-wrapping {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
}
.y-wrapping {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  box-sizing: border-box;
}

.test-mode {
  background-color: red;
  overflow: hidden;
}
.fit-parent {
  width: 100%;
  height: 100%;
}

.full-center {
  justify-content: center;
  align-items: center;
}
