.tutorial-container {
  position: absolute;
  width: 240px;
  background-color: var(--white-theme-color);
  z-index: 10;
  text-align: left;
  font-weight: 400;
}
.tutorial-title {
  font-family: var(--silly-font);
  color: var(--secondary-text-color);
  border-bottom: 2px solid var(--seven-primary-color);
  font-size: var(--sixteen-font-size);
}
.tutorial-message {
  font-size: var(--sixteen-font-size);
}

@keyframes upDown {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}
