.side-bar {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	flex-direction: column;

	width: 25%;
	height: 100vh;
	max-height: 100vh;

	overflow: auto;

	z-index: 100;

	background-color: var(--white-theme-color);
	box-shadow: 0 0 40px -10px var(--black-theme-color);
}
