.navigation-container {
	padding: 20px 0 10px 0;
	background-color: var(--light-light-blue-theme-color);
}
.navigation-option-container {
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;

	width: 15%;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 4px;
}

.nagivation-option {
	color: var(--white-theme-color);
	background-color: var(--light-blue-theme-color);

	cursor: pointer;
	display: block;
	border-radius: 4px;
	overflow: hidden;
	padding: 2px;
	text-decoration: none;
	text-align: center;
	font-size: var(--large-font-size);
	white-space: nowrap;
	text-overflow: ellipsis;

	border: none;

	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.nagivation-option:hover:not(.active) {
	background-color: var(--green-theme-color);
	border: none;
	transform: translateY(-2px);
}
.nagivation-option.active {
	transform: translateY(-2px);
	background-color: var(--blue-theme-color);
	border: none;
}
