.cover-image-container {
  height: 50vh;
  overflow: hidden;
}
.cover-image {
  margin-top: -30%;
}
.text-container {
  height: 200px;
  width: 200px;
}
.text-container:hover + .text-options {
  display: flex;
}

.text-options {
  position: absolute;
  bottom: 100%;
  left: 0;

  display: flex;
}
.text-options:hover {
  display: flex;
}
