.display-date {
  border-bottom: 1px solid var(--secondary-text-color);
  text-align: center;
  white-space: nowrap;
}
.display-date:hover {
  border-color: var(--five-primary-color);
}

.date-picker-dropdown-header {
  border-bottom: 1px solid var(--five-primary-color);
  color: var(--dark-grey-theme-color);
  flex: 1;
  text-align: center;
}
.past-calendar-date,
.date-picker-day {
  flex: 1;

  padding: 4px 0 4px 0;

  text-align: center;

  cursor: pointer;
}
.date-picker-day:hover,
.date-picker-day.active {
  background-color: var(--five-primary-color);
  color: var(--white-theme-color);
}

.faded-date-picker-days {
  background-color: var(--light-grey-theme-color);
  color: var(--dark-grey-theme-color);
}
.date-picker-date {
  color: inherit;
}

.time-dropdown {
  position: relative;

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--secondary-text-color);
}

.date-picker-message {
  color: var(--red-theme-color);
  font-size: var(--thirteen-font-size);
  text-align: center;
}
.anchor-dates-checkbox {
}
