.cls-1 {
  isolation: isolate;
}
.cls-2 {
  fill: url(#radial-gradient);
}
.cls-14,
.cls-3,
.cls-5,
.cls-9 {
  fill: #58595b;
}
.cls-3 {
  opacity: 0.15;
}
.cls-3,
.cls-9 {
  mix-blend-mode: darken;
}
.cls-4,
.cls-6 {
  fill: #fff;
}
.cls-4 {
  opacity: 0.95;
}
.cls-7 {
  opacity: 0.9;
}
.cls-8 {
  fill: #a6a8ab;
}
.cls-9 {
  opacity: 0.1;
}
.cls-10 {
  fill: url(#radial-gradient-2);
}
.cls-11 {
  fill: #81d5ff;
}
.cls-12 {
  fill: #b3e5ff;
}
.cls-13 {
  fill: url(#radial-gradient-3);
}
.cls-14 {
  mix-blend-mode: overlay;
}
.cls-15 {
  fill: url(#radial-gradient-4);
}
.cls-16 {
  fill: url(#radial-gradient-5);
}
.cls-17 {
  fill: #d580ff;
}
.cls-18 {
  fill: #7700b3;
}
