.home-ai-1 {
  isolation: isolate;
}
.home-ai-2 {
  fill: url(#radial-gradient);
}
.home-ai-14,
.home-ai-3,
.home-ai-5,
.home-ai-9 {
  fill: #58595b;
}
.home-ai-3 {
  opacity: 0.15;
}
.home-ai-3,
.home-ai-9 {
  mix-blend-mode: darken;
}
.home-ai-4,
.home-ai-6 {
  fill: #fff;
}
.home-ai-4 {
  opacity: 0.95;
}
.home-ai-7 {
  opacity: 0.9;
}
.home-ai-8 {
  fill: #a6a8ab;
}
.home-ai-9 {
  opacity: 0.1;
}
.home-ai-10 {
  fill: url(#radial-gradient-2);
}
.home-ai-11 {
  fill: #81d5ff;
}
.home-ai-12 {
  fill: #b3e5ff;
}
.home-ai-13 {
  fill: url(#radial-gradient-3);
}
.home-ai-14 {
  mix-blend-mode: overlay;
}
.home-ai-15 {
  fill: url(#radial-gradient-4);
}
.home-ai-16 {
  fill: url(#radial-gradient-5);
}
.home-ai-17 {
  fill: #d580ff;
}
.home-ai-18 {
  fill: #7700b3;
}
