.ghostit-blog-img-container:hover .hover-options-container {
  display: flex;
}
#ghostit-blog-text-styling {
  position: fixed;
  bottom: 0;
  left: 15%;
  right: 15%;
  background-color: var(--white-theme-color);
  max-width: 80%;
}
#editable-text-container:hover .top-right-over-div {
  display: flex;
}
.ghostit-blog-img-container:hover .top-right-over-div {
  display: flex;
}

.top-right-over-div {
  position: absolute;
  top: 0;
  right: -50px;
  z-index: 1;

  display: none;
  flex-direction: column;

  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--light-grey-theme-color);
}
.top-right-over-div:hover {
  display: flex;
}
