.past-writers-brief-container {
	height: 10%;
	display: inline-block;
	border-bottom: 2px solid var(--light-blue-theme-color);
	white-space: nowrap;
	width: 100%;
	max-width: 100% !important;
	overflow: auto;
}
.writers-brief-button {
	background-color: var(--light-blue-theme-color);
	margin: 20px 0 20px 20px;
	font-size: var(--large-font-size);
	padding: 10px;
}
.writers-brief-button.active {
	background-color: var(--blue-theme-color);
}
.new-writers-brief {
	background-color: var(--blue-theme-color);
	padding: 10px;
	font-size: var(--large-font-size);
	margin: 20px 0 20px 20px;
}

.something {
	display: inline !important;
	border: 2px solid var(--light-blue-theme-color);
	font-size: var(--regular-font-size);
}
.test {
	display: inline-block !important;
	background-color: blue;
	margin: 20px;
}
.something:focus {
	border: 2px solid var(--blue-theme-color);
}
