:root {
    --calendar-navbar-bg-color: #fff;
    --blue-theme-color: #3498db;
    --pink-theme-color: #e030bb;
    --white-theme-color: #fff;
    --font-theme-color: #000;
    --large-font-size: 13pt;
    --regular-font-size: 10pt;
}

body {
    font-family: "Open Sans";
    color: var(--font-theme-color);
    min-height: 100%;

    padding: 0;
    margin: 0;

    background-color: var(--white-theme-color);
}

input {
    border: none;
    font-family: "Open Sans";
    font-size: var(--regular-font-size);
    width: 99%;
    outline: none;
    color: var(--font-theme-color);
}
button {
    color: var(--white-theme-color);
    font-family: "Open Sans";
    font-size: var(--regular-font-size);

    margin: 10px;
    border: none;
    cursor: pointer;

    background-color: var(--blue-theme-color);
}

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;

    width: 100%;
    box-shadow: 0px -5px 50px 0px;
}

header ul {
    left: 50%;
    padding: 0;

    background-color: var(--blue-theme-color);
}

header li {
    float: right;
}

header li a {
    color: var(--white-theme-color);
    border-bottom: 4px solid var(--blue-theme-color);
}

header li a:hover:not(.active) {
    border-bottom: 4px solid var(--pink-theme-color);

    margin-right: 10%;
    margin-left: 10%;
}

header li a.active {
    border-bottom: 4px solid var(--pink-theme-color);

    margin-right: 10%;
    margin-left: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    overflow: hidden;
    text-align: center;

    background-color: var(--calendar-navbar-bg-color);
}

li {
    display: inline-block;
    width: 200px;
}

li a {
    color: var(--font-theme-color);
    cursor: pointer;

    padding-bottom: 8px;
    margin-bottom: 3px;

    display: block;
    text-decoration: none;
    text-align: center;
    font-size: var(--large-font-size);

    padding: 14px 16px;
    border-bottom: 4px solid var(--white-theme-color);
}

li a:hover:not(.active) {
    background-color: inherit;
    border-bottom: 4px solid var(--pink-theme-color);
}

li a.active {
    border-bottom: 4px solid var(--pink-theme-color);
}
textarea {
    outline: 0;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}
