:root {
	--blue-theme-color: #19b5fe;
	--purple-theme-color: #ae56fa;
	--orange-theme-color: #fd651c;
	--green-theme-color: #4cd137;
	--yellow-theme-color: #ffff00;
	--pink-theme-color: #ff017e;
	--red-theme-color: #ff1a1a;

	--grey-theme-color: #bfbfbf;
	--black-theme-color: #000;
	--white-theme-color: #fff;

	--light-purple-theme-color: #c483fb;
	--light-light-purple-theme-color: #dbb5fd;
	--light-blue-theme-color: #b3e6ff;
	--light-light-blue-theme-color: #d1f0ff;
	--super-light-blue-theme-color: #e6f7ff;
	--dark-blue-theme-color: #019ce5;

	--light-grey-theme-color: #d9d9d9;
	--dark-grey-theme-color: #737373;

	--off-black-theme-color: #666666;

	--font-theme-color: #000;
	--large-font-size: 13pt;
	--extra-large-font-size: 17pt;
	--regular-font-size: 11pt;

	--font-theme: "Open Sans";
}

input {
	font-family: var(--font-theme);
	font-size: var(--large-font-size);

	outline: none;
	border: none;
}
body {
	font-family: var(--font-theme);
	color: var(--font-theme-color);
	min-height: 100%;

	padding: 0;
	margin: 0;

	background-color: var(--white-theme-color);
}

button {
	color: var(--white-theme-color);
	font-family: var(--font-theme);
	font-size: 11pt;

	cursor: pointer;
	outline: 0;

	border: none;
	border-radius: 4px;
	background-color: var(--blue-theme-color);
}
ul {
	list-style-type: none;
	margin: 0;
	left: 0;

	overflow: hidden;
	text-align: center;

	background-color: var(--white-theme-color);
	margin: 10px 80px 10px 80px;
}

li {
	display: inline-block;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 4px;
}

li a {
	color: var(--font-theme-color);
	cursor: pointer;

	display: block;
	text-decoration: none;
	text-align: center;
	font-size: var(--large-font-size);
	border-radius: 4px;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;

	border: 2px solid var(--light-grey-theme-color);
}

li a:hover:not(.active) {
	border: 2px solid var(--blue-theme-color);
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}

li a.active {
	border: 2px solid var(--blue-theme-color);
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}
textarea {
	font-family: var(--font-theme);
	font-size: var(--regular-font-size);
}
