input {
	font-family: var(--font-theme);
	font-size: var(--large-font-size);

	outline: none;
	border: none;
}
body {
	font-family: var(--font-theme);
	color: var(--font-theme-color);
	min-height: 100%;

	padding: 0;
	margin: 0;

	background-color: var(--white-theme-color);
}

button {
	color: var(--white-theme-color);
	font-family: var(--font-theme);
	font-size: 11pt;

	cursor: pointer;
	outline: 0;

	border: none;
	border-radius: 4px;
	background-color: var(--blue-theme-color);
}
ul {
	list-style-type: none;
	margin: 0;
	left: 0;

	overflow: hidden;
	text-align: center;

	background-color: var(--white-theme-color);
	margin: 10px 80px 10px 80px;
}

li {
	display: inline-block;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 4px;
}

li a {
	color: var(--font-theme-color);
	cursor: pointer;

	display: block;
	text-decoration: none;
	text-align: center;
	font-size: var(--large-font-size);
	border-radius: 4px;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;

	border: 2px solid var(--light-grey-theme-color);
}

li a:hover:not(.active) {
	border: 2px solid var(--blue-theme-color);
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}

li a.active {
	border: 2px solid var(--blue-theme-color);
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}
textarea {
	font-family: var(--font-theme);
	font-size: var(--regular-font-size);
}
