label {
	text-align: left;
}
.side-bar {
	height: 100%;
	background-color: var(--white-theme-color);
	position: fixed !important;
	z-index: 100;
	overflow: auto;
	box-shadow: 0 0 20px 0;

	width: 25%;
	display: block;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}
.side-bar-container {
	width: 95%;
	color: #fff;
	margin-top: 55px;
}
.side-bar-container h4 {
	padding: 3px;
	border-radius: 4px;
}
