.left-column {
	width: 49.5%;
	float: left;
}
.right-column {
	width: 49.5%;
	float: right;
}

.input-textarea {
	outline: none;
	border-radius: 4px;
	border: none;
	font-size: var(--regular-font-size);

	box-sizing: border-box;
	resize: none;
	margin: 10px 10px 10px 10px;
	width: 98.1%;
}
.input-theme {
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 10px 0 10px 10px;
	padding: 4px;
	font-size: var(--regular-font-size);
	float: left;
	width: 30%;
}
.full-width {
	width: 99%;
}
.input-title {
	padding: 0;
	text-align: left;
	margin: 0 0 0 5px;
}
.form-title {
	margin: 10px 0 0 35px;
	border-bottom: 2px solid var(--purple-theme-color);
	display: inline-block;
	float: left;
}
.input-container {
	border-radius: 4px;
	margin-top: 20px;
	width: 95%;
	border: 2px solid #b3e6ff;
	background-color: var(--light-blue-theme-color);
	box-sizing: border-box;
	overflow: auto;
}
.full-form {
	height: 100%;
}
.white-button {
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
	margin: 10px 10px 10px 10px;
	float: left;
}
.white-button:hover {
	background-color: var(--white-theme-color);
	color: var(--blue-theme-color);
}
.icon-container {
	width: 100%;
	display: inline-block;
}
.big-purple-submit-button {
	margin: 20px 0 20px 35px;
	padding: 20px;
	font-size: var(--extra-large-font-size);
	border-radius: 60px;
	width: 40%;
	background-color: var(--purple-theme-color);
}
