@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Varela);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Butterfly+Kids);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

:root {
  --nine-primary-color: #0d57a4;
  --eight-primary-color: #0b77c7;
  --seven-primary-color: #0c89db;
  --six-primary-color: #079cef;
  --five-primary-color: #00aaff;
  --four-primary-color: #24b7ff;
  --three-primary-color: #4dc4ff;
  --two-primary-color: #81d5ff;
  --one-primary-color: #b3e5ff;
  --one-half-primary-color: #e1f5ff;

  --one-half-purple-color: #f7e5ff;
  --one-purple-color: #e6b3ff;
  --two-purple-color: #d580ff;
  --three-purple-color: #c44dff;
  --four-purple-color: #b31aff;
  --five-purple-color: #aa00ff;
  --six-purple-color: #9900e6;
  --seven-purple-color: #7700b3;
  --eight-purple-color: #550080;
  --nine-purple-color: #33004d;

  --nine-orange-color: #c13100;
  --eight-orange-color: #d94000;
  --seven-orange-color: #e64800;
  --six-orange-color: #f44f00;
  --five-orange-color: #ff5500;
  --four-orange-color: #ff6e33;
  --three-orange-color: #ff895a;
  --two-orange-color: #ffaa8a;
  --one-orange-color: #ffcbb8;
  --one-half-orange-color: #fce9e6;

  --primary-text-theme-color: #212121;
  --secondary-text-theme-color: #757575;

  --divider-theme-color: #bdbdbd;

  --green-theme-color: #4cd137;
  --orange-theme-color: #fd651c;
  --pink-theme-color: #d23be7;
  --purple-theme-color: #8c7ae6;
  --red-theme-color: #e6261f;
  --turqoise-theme-color: #41dcfe;
  --yellow-theme-color: #ffff00;

  --light-purple-theme-color: #9c88ff;
  --light-light-purple-theme-color: #dbb5fd;

  --dark-green-theme-color: #44bd32;
  --dark-pink-theme-color: #b719cc;

  --black-theme-color: #000;
  --white-theme-color: #fff;

  --light-light-grey-theme-color: #fbfcfc;
  --light-grey-theme-color: #e0e0e0;
  --dark-grey-theme-color: #95a5a6;

  --campaign-color1: #d23be7;
  --campaign-color2: #fd651c;
  --campaign-color3: #41dcfe;
  --campaign-color4: #4cd137;

  --small-font-size: 13px;
  --fourteen-font-size: 14px;
  --regular-font-size: 15px;
  --sixteen-font-size: 16px;
  --large-font-size: 17px;
  --medium-large-font-size: 20px;
  --extra-large-font-size: 23px;
  --gigantic-font-size: 24px;
  --medium-gigantic-font-size: 32px;
  --super-gigantic-font-size: 34px;

  --h1-font-size: 48px;
  --h6-font-size: 20px;

  --large-line-height: 30px;

  --silly-font-theme: "Varela Round";
  --font-theme: "Open Sans";
}
.fixed {
  position: fixed;
}
.fixed.top {
  top: 0;
}
.fixed.left {
  left: 0;
}
.fixed.right {
  right: 0;
}

.bold {
  font-weight: 700;
}
.silly-font {
  font-family: var(--silly-font-theme);
}
.light-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.light-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.35);
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  min-height: 36px;
}
.light-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.content-page {
  display: inline-block;
  overflow: auto;
  position: relative;
  width: 100%;
}

.wrapper {
  flex: 1;
  position: relative;

  transition: all 0.4s ease;
  overflow: auto;
  max-height: 100.5vh;
}
.modal {
  position: absolute;
  z-index: 10;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;

  display: flex;

  align-items: center;

  flex-direction: column;

  width: 50%;
  max-height: 80vh;
  min-height: 80vh;
  margin-top: 10vh;

  background-color: var(--white-theme-color);

  animation: animateOpacity 0.2s;
  overflow: hidden;
}
.large-modal {
  position: fixed;
  display: flex;
  flex-direction: column;

  min-height: 90vh;
  height: 90vh;
  width: 80%;

  left: 10vw;
  right: 10vw;
  margin-top: 3vh;

  border-radius: 4px;

  z-index: 10;

  background-color: var(--white-theme-color);
  animation: campaignModalAnimation 0.4s;
}
.modal-header {
  margin: 0;
  width: 100%;
}

.modal-body {
  flex: 1;
  position: relative;

  width: 100%;
  overflow: auto;
}

.modal-footer {
  flex-grow: 0;
  flex-shrink: 0;

  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-top: 2px solid var(--secondary-text-theme-color);
}
@keyframes animatetop {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animateRight {
  from {
    right: -50px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -50px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes headerSideBarAnimateLeft {
  from {
    left: -20%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.close-scroll {
  right: 10px !important;
}
.close {
  color: var(--secondary-text-theme-color);
}
.close-scroll {
  color: var(--secondary-text-theme-color);
}
.close,
.close-scroll {
  position: absolute;
  right: 1px;
  top: -3px;

  cursor: pointer;
  pointer-events: auto;

  z-index: 1;
}
.close:hover,
.close-scroll:hover {
  color: var(--red-theme-color);
}

.close-container {
  color: var(--secondary-text-theme-color);
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
.close-special:hover {
  color: var(--red-theme-color);
}

.container-full {
  border-radius: 10px;
  height: 100%;
  margin-top: 30px;
  width: 95%;
  border: 2px solid #b3e6ff;
  background-color: #fff;
}

.submit-colorful {
  margin-top: 5%;
  border-radius: 5px;

  background-color: var(--five-primary-color);
  cursor: pointer;

  width: auto;

  font-size: 20px;
  color: var(--white-theme-color);
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

.animate-right {
  position: relative;
  animation: animateRight 0.4s;
}
.facebook {
  background-color: #4267b2;
}
.twitter {
  background-color: #1da1f2;
}
.linkedin {
  background-color: #0077b5;
}
.instagram {
  background: linear-gradient(90deg, #cd486b, #8a3ab9);
}
.container-background {
  background: -webkit-linear-gradient(
    top,
    var(--light-grey-theme-color),
    var(--light-grey-theme-color) 5%,
    white 12%
  );
}
.switch {
  border: 2px solid var(--five-primary-color);
  width: 15%;
  margin-top: 10px;
  padding: 0;
  border-radius: 4px;
}
.switch-button {
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: transparent;
  color: var(--black-theme-color);
  position: relative;
}
.switch-active {
  background-color: var(--five-primary-color);
  color: var(--white-theme-color);

  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.left-switch {
  border-radius: 20px 0 0 20px;
}
.right-switch {
  border-radius: 0 20px 20px 0;
}
.copy,
.delete {
  padding: 4px;

  color: var(--secondary-text-theme-color);

  cursor: pointer;

  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
}
.delete:hover {
  color: var(--red-theme-color);
}
.copy:hover {
  color: var(--five-primary-color);
}

.connected-accounts-posting-div:hover {
  background-color: var(--five-primary-color);
  cursor: pointer;
  color: var(--white-theme-color);
}

.bright-save-button-background {
}
.bright-save-button {
  font-size: var(--large-font-size);
  background-color: var(--pink-theme-color);
  min-width: 30%;
  padding: 10px 0 10px 0;
  margin: 20px 0 10px 0;
  border-radius: 4px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.bright-save-button:hover {
  transform: scale(1.1);
}

.date-label {
  margin: 0 20px 0 0;
  padding: 0;
  font-size: var(--regular-font-size);
  display: inline-block;
  background-color: transparent;
}
.date-picker {
  margin: 5px;
  padding: 4px;

  border-radius: 4px;
  border: 1px solid var(--secondary-text-theme-color);
}
.date-picker:focus {
  border: 1px solid var(--five-primary-color);
}
.main-navigation-container {
  display: flex;
}
.signed-in-as {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-color: var(--green-theme-color);
  color: var(--white-theme-color);
}
.sign-out-of-clients-account {
  padding-left: 4px;
  color: var(--red-theme-color);
  cursor: pointer;
}
.sign-out-of-clients-account:hover {
  color: var(--dark-red-theme-color);
}
.label {
  font-weight: bolder;

  display: flex;
  align-items: center;

  color: var(--secondary-text-theme-color);
}

.back-button-top {
  position: absolute;
  top: 5px;
  left: 5px;

  padding: 4px 10px 4px 10px;

  border-radius: 100px;
  border: 1px solid var(--primary-text-theme-color);

  color: var(--primary-text-theme-color);

  cursor: pointer;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.back-button-top:hover {
  color: var(--white-theme-color);
  border-color: var(--five-primary-color);
  background-color: var(--five-primary-color);
}

.show-more {
  position: absolute;

  height: 25px;
  width: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: var(--white-theme-color);
  border: 1px solid var(--secondary-text-theme-color);
  color: var(--secondary-text-theme-color);

  cursor: pointer;
}
.show-more.center-vertically {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.show-more.right {
  right: 2px;
}
.show-more.left {
  left: 2px;
}
.show-more.far-left {
  left: -12px;
}
.show-more.center-horizontally {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.show-more.top {
  top: 2px;
}
.show-more.bottom {
  bottom: 2px;
}
.show-more:hover {
  border-color: var(--seven-primary-color);
  background-color: var(--white-theme-color);
  color: var(--seven-primary-color);
}

.box-button {
  padding: 4px 10px 4px 10px;

  font-size: inherit;
  color: var(--five-primary-color);
  border: 2px solid var(--five-primary-color);

  cursor: pointer;
  box-sizing: border-box;
}
.box-button.left {
  margin-left: 10px;
}
.box-button.bottom {
  margin-bottom: 10px;
}
.box-button:hover {
  color: var(--white-theme-color);
  background-color: var(--five-primary-color);
}
.width100 {
  width: 100%;
}
.flex1 {
  flex: 1;
}
.flex {
  display: flex;
  flex-shrink: 0;
}
.flex.vt {
  align-items: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.right {
  width: 100%;
  justify-content: flex-end;
}
.flex.vc {
  align-items: center;
}
.flex.hc {
  justify-content: center;
}
.flex.center {
  align-items: center;
  justify-content: center;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex .end {
  justify-content: flex-end;
}
.tac {
  text-align: center;
}
.border-box {
  box-sizing: border-box;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute.top {
  top: 5px;
}
.absolute.right {
  right: 5px;
}
.br4 {
  border-radius: 4px;
}
.br8 {
  border-radius: 8px;
}
.br16 {
  border-radius: 16px;
}
.round {
  border-radius: 100px;
}
.button {
  cursor: pointer;
}
.button.white:hover,
.button.blue {
  background-color: var(--five-primary-color);
  color: var(--white-theme-color);
  border: 1px solid var(--five-primary-color);
}
.button.white,
.button.blue:hover {
  background-color: var(--white-theme-color);
  color: var(--five-primary-color);
  border: 1px solid var(--five-primary-color);
}
.button.transparent {
  background-color: transparent;
  color: var(--white-theme-color);
}
.medium {
  padding: 4px 12px 4px 12px;
}
.margin.bottom {
  margin-bottom: 4px;
}
.spacing.top {
  padding-top: 10px;
}
.spacing.left {
  padding-left: 10px;
}

.common-transition {
  transition: all 0.2s ease;
}

.pa32 {
  padding: 32px;
}
.px32 {
  padding-right: 32px;
  padding-left: 32px;
}
.py32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pt32 {
  padding-top: 32px;
}
.pr32 {
  padding-right: 32px;
}
.pb32 {
  padding-bottom: 32px;
}
.pl32 {
  padding-left: 32px;
}

.pa16 {
  padding: 16px;
}
.px16 {
  padding-right: 16px;
  padding-left: 16px;
}
.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt16 {
  padding-top: 16px;
}
.pr16 {
  padding-right: 16px;
}
.pb16 {
  padding-bottom: 16px;
}
.pl16 {
  padding-left: 16px;
}

.pa8 {
  padding: 8px;
}
.px8 {
  padding-right: 8px;
  padding-left: 8px;
}
.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pt8 {
  padding-top: 8px;
}
.pr8 {
  padding-right: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pl8 {
  padding-left: 8px;
}

.pa4 {
  padding: 4px;
}
.px4 {
  padding-right: 4px;
  padding-left: 4px;
}
.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pt4 {
  padding-top: 4px;
}
.pr4 {
  padding-right: 4px;
}
.pb4 {
  padding-bottom: 4px;
}
.pl4 {
  padding-left: 4px;
}

.ma32 {
  margin: 32px;
}
.mx32 {
  margin-right: 32px;
  margin-left: 32px;
}
.my32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mt32 {
  margin-top: 32px;
}
.mr32 {
  margin-right: 32px;
}
.mb32 {
  margin-bottom: 32px;
}
.ml32 {
  margin-left: 32px;
}

.ma16 {
  margin: 16px;
}
.mx16 {
  margin-right: 16px;
  margin-left: 16px;
}
.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt16 {
  margin-top: 16px;
}
.mr16 {
  margin-right: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.ml16 {
  margin-left: 16px;
}

.ma8 {
  margin: 8px;
}
.mx8 {
  margin-right: 8px;
  margin-left: 8px;
}
.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mr8 {
  margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}

.ma4 {
  margin: 4px;
}
.mx4 {
  margin-right: 4px;
  margin-left: 4px;
}
.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mt4 {
  margin-top: 4px;
}
.mr4 {
  margin-right: 4px;
}
.mb4 {
  margin-bottom: 4px;
}
.ml4 {
  margin-left: 4px;
}

.round-button {
  border-radius: 4px;
  white-space: nowrap;
  color: var(--white-theme-color);
  background-color: var(--seven-primary-color);
}
.round-button:hover {
  background-color: var(--eight-primary-color);
}
.round-button.large {
  font-size: var(--large-font-size);
}
.common-shadow {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.19);
}
.trial-days-left {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--red-theme-color);
  color: var(--white-theme-color);
}
.sign-up-now {
  color: inherit;
  text-decoration: underline;
}
body {
  min-height: 100%;

  padding: 0;
  margin: 0;

  font-family: var(--font-theme);
  color: var(--primary-text-theme-color);
  font-size: var(--regular-font-size);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--primary-text-theme-color);
}
button {
  color: var(--white-theme-color);
  font-family: var(--font-theme);
  font-size: var(--regular-font-size);

  cursor: pointer;
  outline: 0;

  border: none;
  background-color: transparent;
}
textarea,
input {
  outline: none;
  resize: vertical;

  font-size: var(--regular-font-size);
  font-family: var(--font-theme);
  border: 1px solid var(--divider-theme-color);
  color: var(--primary-text-theme-color);
  background-color: transparent;
}
textarea:focus,
input:focus {
  border-color: var(--seven-primary-color);
  background-color: var(--white-theme-color);
}
div {
  font-family: inherit;
  font-size: var(--regular-font-size);
  color: var(--primary-text-theme-color);
}
h1 {
  color: var(--primary-text-theme-color);
  margin: 0;
}
h2 {
  color: var(--primary-text-theme-color);
  margin: 0;
}
h3 {
  color: var(--primary-text-theme-color);
  margin: 0;
}
h4 {
  color: var(--primary-text-theme-color);

  margin: 0;
}
h5 {
  color: var(--primary-text-theme-color);
  margin: 0;
}
h6 {
  color: var(--primary-text-theme-color);
  margin: 0;
}

p {
  margin: 0;
  color: var(--primary-text-theme-color);
}
[hoverinstructions]:before {
  /* needed - do not touch */
  content: attr(hoverinstructions);
  position: absolute;
  opacity: 0;

  /* customizable */
  top: 100%;
  right: 0;
  padding: 10px;
  z-index: 15;

  width: 30vw;

  background: var(--three-primary-color);
  color: var(--white-theme-color);

  transition: all 0.15s ease;
}

[hoverinstructions]:hover:before {
  /* needed - do not touch */
  opacity: 1;

  /* customizable */
  background: var(--three-primary-color);
  color: var(--white-theme-color);
}
[hoverinstructions]:not([hoverinstructions-persistent]):before {
  pointer-events: none;
}
[hoverinstructions].top-left {
  bottom: 100%;
  right: 0;
}
[hoverinstructions].top-right {
  bottom: 100%;
  left: 0;
}
[hoverinstructions].bottom-right {
  top: 100%;
  left: 0;
}
[hoverinstructions].bottom-left {
  top: 100%;
  right: 0;
}

.checkbox-and-writing-container {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
  max-width: 100%;
}
.checkbox-box {
  min-height: 16px;
  min-width: 16px;

  border: 2px solid var(--primary-text-theme-color);
}
.checkbox-check {
  width: 9px;
  height: 5px;

  border-bottom: 2px solid var(--primary-text-theme-color);
  border-left: 2px solid var(--primary-text-theme-color);

  transform: rotate(-45deg);
}

.moving-border:after {
  display: block;
  content: "";
  border-bottom: solid 6px var(--black-theme-color);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: 100% 50%;
}
.moving-border.active:after,
.moving-border:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.dropdown {
  z-index: 1;
  position: absolute;
  top: 100%;
  right: 0;

  display: none;

  flex-direction: column;

  min-width: 100%;

  background-color: var(--white-theme-color);
}

.dropdown-title {
  flex: 1;
  font-size: inherit;
  color: inherit;

  white-space: nowrap;
}
.dropdown .item,
.dropdown .item-colored {
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--primary-text-theme-color);
}

.dropdown .item-colored.active,
.dropdown .item-colored:hover {
  background-color: var(--seven-primary-color);
  color: var(--white-theme-color);
}

.regular-input {
  padding: 8px;
  border-radius: 4px;
  flex: 1;
}

.nl-item {
  display: flex;
  align-items: center;
  padding: 8px;
}
.nl-number {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--five-primary-color);
  color: var(--white-theme-color);
}
.nl-info {
  flex: 1;
  display: flex;
  background-color: var(--light-grey-theme-color);
  padding: 8px;
  margin-left: 8px;
}

.color-red {
  color: var(--red-theme-color);
}
.color-blue {
  color: var(--five-primary-color);
}
