@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

@import url("htmlTags.css");
.login-background {
    background-color: var(--blue-theme-color);
    background: linear-gradient(
        180deg,
        var(--blue-theme-color),
        var(--white-theme-color)150%
    );

    width: 50%;
    height: auto;
    min-height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    vertical-align: middle;
}
.login-background img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.landing-page {
    width: 50%;
    height: 100%;
    min-height: 100%;
    right: 0;
    position: absolute;
    z-index: -1;
}
.landing-page img {
    filter: brightness(55%);
}
.landing-page div {
    text-align: center;
}
.landing-page div button {
    background-color: transparent;
    border: 2px solid var(--white-theme-color);
    font-size: var(--large-font-size);
    border-radius: 4px;
}

.landing-page .container {
    position: absolute;
    color: var(--white-theme-color);
    width: 80%;
    margin-top: 45%;
    padding-left: 40px;
}
.landing-page h1 {
    color: var(--white-theme-color);
}
.landing-page h5 {
    color: var(--white-theme-color);
}
.form-box {
    width: 70%;
    height: 70%;
    background-color: #fff;
    border: 2px solid #000;

    text-align: center;
    margin: auto;

    margin-top: 5%;
    border-radius: 2px;
    border: 10px solid #eeeeef;
}
.login-box {
    width: 80%;
    height: 80%;
    background-color: #fff;

    text-align: center;
    margin: auto;
    margin-top: 2%;

    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 20px 0;
}

.submit-colorful {
    margin-top: 5%;
    border-radius: 2px;

    background-color: #3498db;
    cursor: pointer;

    font-size: 20px;
    color: #fff;
}

.big-calendar {
    min-height: 800px;
    margin: 40px;

    background-color: #fff;
}

#wrapper {
    padding: 50px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    width: 50%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--blue-theme-color);
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    overflow: hidden;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--white-theme-color);
    color: red;
    text-align: center;
}

.postingTextArea {
    outline: 0;

    max-width: 80%;
    width: 80%;
    min-width: 80%;

    border-radius: 5px;
}

.login-switch {
    cursor: pointer;
    border-bottom: 2px solid var(--pink-theme-color);
    margin: auto;
    margin-bottom: 5%;
}
