.users-table {
}
.user-column {
	width: 25%;
	margin: 0 20px 0 0;
	padding: 20px;
	display: inline-block;
	float: left;
}
.user-row {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 10px;
	background-color: var(--purple-theme-color);
	color: var(--white-theme-color);
	border-radius: 20px;
}
.user-row:nth-child(even) {
	background-color: var(--blue-theme-color);
}
.user-row:hover {
	background-color: var(--pink-theme-color);
	cursor: pointer;
}
.row-header {
	padding: 4px;
	margin: 0;
}
.search {
	text-align: left;
	border-radius: 20px;
	border: 2px solid var(--pink-theme-color);
	padding: 10px;
	width: 100%;
}
.clicked-user {
	background-color: var(--pink-theme-color) !important;
}
.clicked-user-options {
	border: 2px solid var(--blue-theme-color);
	width: 65%;
	margin: 20px 20px 0 0;
	display: inline-block;
	border-radius: 10px;
	padding: 20px;
}
.user-attribute-label {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
}
.user-attribute {
	display: inline-block;
}
