.users-table {
}
.user-column {
	width: 23%;
	display: inline-block;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
}
.user-row {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 10px;
	background-color: var(--purple-theme-color);
	color: var(--white-theme-color);
	border-radius: 20px;
}
.user-row:nth-child(even) {
	background-color: var(--blue-theme-color);
}
.user-row:hover {
	background-color: var(--pink-theme-color);
	cursor: pointer;
}
.row-header {
	padding: 4px;
}
.search {
	text-align: left;
	border-radius: 35px;
	border: 2px solid var(--pink-theme-color);
	padding: 10px;
	width: 100%;
	resize: none;
	outline: none;
	font-size: var(--large-font-size);
}
.clicked-user {
	background-color: var(--pink-theme-color) !important;
}
.clicked-user-options {
	border: 2px solid var(--blue-theme-color);
	max-width: 85%;
	width: 85%;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	margin-top: 10px;
	min-height: 300px;
}
.user-attribute-label {
	display: inline-block;
	margin: 0;
}
.user-attribute {
	display: inline-block;
	margin: 15px;
}
.float-right {
	margin: auto;
}
.password-input {
	border: 2px solid var(--purple-theme-color);
	width: 75%;
	border-radius: 20px;
	display: none;
	padding: 3px;
	padding-left: 15px;
	margin: 0 20px 0 0;
	float: left;
	font-size: var(--large-font-size);
}
