.calendars-container {
  position: relative;
  display: flex;
  flex-basis: content;

  background-color: transparent;

  cursor: pointer;
  user-select: none;
  font-size: inherit;
  color: inherit;
}
.dropdown-title {
  font-size: inherit;
  color: inherit;

  white-space: nowrap;
}
.calendars-container:hover .dropdown {
  display: flex;
}
.dropdown {
  z-index: 1;
  position: absolute;
  top: 100%;
  right: 0;

  display: none;

  flex-direction: column;

  width: 100%;

  background-color: var(--white-theme-color);
  box-shadow: 0 0 10px 0 black;
}
.dropdown .item {
  padding: 6px 8px 6px 8px;
}

.dropdown .item.active,
.dropdown .item:hover {
  background-color: var(--seven-primary-color);
  color: var(--white-theme-color);
}

.manage-calendar-icon {
  right: 0;
}
