.test {
  width: 80%;

  height: 50vh;
  margin: 10px;
  shape-rendering: geometricPrecision;
  background-color: yellow;
  padding: 10px;
}
.test2 {
  stroke: var(--divider-theme-color);
  fill: none;
  stroke-width: 0.5px;
  shape-rendering: geometricPrecision;
}
