body {
  background-color: #fff;
}

.LineChart {
  position: relative;
  display: block;
  margin: 0 auto;

  &--tooltip {
    display: block;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    font-family: Sans-serif;
    font-size: 10px;
    pointer-events: none;
    transform: translate(-50%, -100%);
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-top: 6px solid #d0d0d0;
      bottom: -12px;
      left: 50%;
      margin-left: -6px;
    }

    &::after {
      content: "";
      position: absolute;
      border: 5px solid transparent;
      border-top: 5px solid #fff;
      bottom: -10px;
      left: 50%;
      margin-left: -5px;
    }

    i {
      &::before {
        content: ": ";
      }
      font-style: normal;
    }
  }

  &--axis {
    font-family: Sans-serif;
    font-size: 10px;
    fill: #ccc;
  }

  &--label {
    font-family: Sans-serif;
    font-size: 10px;
  }

  circle {
    transition: 0.3s ease-out;

    &:hover {
      r: 8px;
    }
  }

  g {
    transition: 1.5s ease-out;
  }
}
