.accounts-wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;

  min-height: 100vh;
}
.account-column {
}
.social-header-button {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-size: var(--large-font-size);
  color: var(--white-theme-color);
  text-align: center;
}

.social-media-connect {
  position: relative;
  width: 80%;
  text-align: center;
  color: var(--white-theme-color);
}

.connected-social-div {
  width: 80%;
}
.connected-social-media-icon {
  color: var(--primary-text-color);
}
.connected-social {
  flex: 1;
  color: var(--primary-text-color);

  height: 100%;
}
.connected-social-account {
  color: var(--secondary-text-color);
}
