#ghostit-blog-img-container:hover .hover-options-container {
  display: flex;
}
#ghostit-blog-text-styling {
  position: fixed;
  bottom: 0;
  background-color: var(--white-theme-color);
  max-width: 80%;
}
