.home-instructions-1 {
  isolation: isolate;
}
.home-instructions-2 {
  fill: url(#radial-gradient);
}
.home-instructions-11,
.home-instructions-12,
.home-instructions-18,
.home-instructions-3 {
  fill: #58595b;
}
.home-instructions-3 {
  opacity: 0.1;
}
.home-instructions-11,
.home-instructions-3 {
  mix-blend-mode: darken;
}
.home-instructions-4 {
  fill: url(#radial-gradient-2);
}
.home-instructions-5 {
  fill: #81d5ff;
}
.home-instructions-6 {
  fill: #b3e5ff;
}
.home-instructions-7 {
  fill: url(#radial-gradient-3);
}
.home-instructions-8 {
  fill: #d580ff;
}
.home-instructions-9 {
  fill: #e6b3ff;
}
.home-instructions-10 {
  fill: #7700b3;
}
.home-instructions-11 {
  opacity: 0.15;
}
.home-instructions-13,
.home-instructions-16 {
  fill: #fff;
}
.home-instructions-13 {
  opacity: 0.95;
}
.home-instructions-14 {
  fill: #929497;
}
.home-instructions-15 {
  opacity: 0.9;
}
.home-instructions-17 {
  fill: #a6a8ab;
}
.home-instructions-18 {
  mix-blend-mode: overlay;
}
