.custom-campaign {
	position: absolute;
	top: 5px;
	right: 40px;

	padding: 4px 10px 4px 10px;

	border-radius: 100px;
	border: 1px solid var(--off-black-theme-color);

	color: var(--off-black-theme-color);

	cursor: pointer;

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.custom-campaign:hover {
	color: var(--white-theme-color);
	border-color: var(--blue-theme-color);
	background-color: var(--blue-theme-color);
}

.recipe-navigation-container {
	display: flex;

	justify-content: center;
	align-items: center;

	width: 100%;

	margin-top: 20px;
	padding-bottom: 5px;

	color: var(--off-black-theme-color);

	border-bottom: 1px solid var(--off-black-theme-color);
}
.recipe-navigation-option {
	padding: 20px 20px 20px 20px;

	border-bottom: 1px solid transparent;

	cursor: pointer;
}
.recipe-navigation-option:hover,
.recipe-navigation-option.active {
	color: var(--black-theme-color);
	border-color: var(--blue-theme-color);
}

.recipes-container {
	flex-basis: 0;

	flex: 1;

	display: flex;
	justify-content: flex-start;

	flex-wrap: wrap;

	width: 100%;

	padding: 10px;

	overflow: auto;
	box-sizing: border-box;
}
.recipe-container {
	position: relative;
	flex-basis: 0;

	min-width: 20vw;
	max-width: 20vw;
	min-height: 20vh;
	max-height: 20vh;

	margin: 10px;

	border-radius: 4px;

	background-color: var(--light-blue-theme-color);
	cursor: pointer;
}
.recipe-name {
	position: absolute;
	bottom: 0;

	width: 100%;

	text-align: center;
	color: var(--white-theme-color);
	background: linear-gradient(
		to right,
		var(--dark-grey-theme-color),
		var(--off-black-theme-color),
		var(--dark-grey-theme-color)
	);
	border-radius: 0 0 4px 4px;
}
