.custom-file-upload {
  color: var(--divider-theme-color);

  border: 2px dashed var(--divider-theme-color);
}
.custom-file-upload:hover {
  border-color: var(--three-blue-color);
  color: var(--three-blue-color);
}
.uploaded-file:hover .icon-x-hover {
  display: flex;
}
.uploaded-file:hover .image {
  opacity: 0.4;
}
