.calendar-container {
	overflow-x: hidden;
	padding-bottom: 50px;
}
.calendar-header-container {
	display: flex;
	display: -webkit-flex;

	align-items: center;
	justify-content: center;
}
.calendar-header {
	color: var(--black-theme-color);
	opacity: 0.8;
}
.calendar-switch-month-button {
	color: var(--turqoise-theme-color);
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.calendar-switch-month-button:hover {
	color: var(--green-theme-color);
	transform: scale(1.1);
	cursor: pointer;
}
.left {
	margin-left: 20%;
}
.right {
	margin-right: 20%;
}

.calendar-table {
	display: flex;
	display: -webkit-flex;

	background-color: var(--three-primary-color);
	flex-direction: column;
}
.calendar-day-titles-container {
	display: flex;
}
.calendar-day-heading {
	margin-top: 2px !important;
	text-align: center;

	cursor: default !important;
}

.calendar-week {
	display: flex;
}
.calendar-day {
	min-height: 12vh;
}
.calendar-day-heading,
.calendar-day {
	width: 13%;
	background-color: var(--white-theme-color);
	flex-grow: 1;
	-webkit-flex-grow: 1;

	padding: 0;

	border-right: 1px solid var(--three-primary-color);
	border-bottom: 1px solid var(--three-primary-color);
}
.calendar-day-heading:nth-child(7n),
.calendar-day:nth-child(7n) {
	margin-right: 0;
}
.calendar-day-heading:nth-child(7n + 1),
.calendar-day:nth-child(7n + 1) {
	margin-left: 0;
}
.faded-calendar-days {
	background-color: var(--super-light-blue-theme-color);
}

.calendar-day-date {
	padding: 4px;
	float: left;
}

.date-plus-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.calendar-day-plus {
	background-color: transparent;
	color: var(--turqoise-theme-color);
	float: right;
	margin: 4px;

	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

.first-index-campaign {
	margin-left: 2px;
	padding: 0 5px 0 5px;

	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.last-index-campaign {
	width: calc(100% - 3px) !important;

	margin-right: 20px !important;

	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.first-index-campaign,
.last-index-campaign,
.campaign {
	flex-basis: 0;
	display: flex;

	justify-content: space-around;
	align-items: center;

	width: calc(100% + 1px);
	min-height: 30px;

	margin-bottom: 2px;
	cursor: pointer;

	box-sizing: border-box;

	background-color: var(--five-primary-color);
}
.calendar-post {
	max-height: 20px;
	flex: 1;

	padding: 2px 10px 2px 10px;
	margin: 1px 2px 1px 2px;

	color: var(--white-theme-color);

	border-radius: 100px;
	overflow: hidden;
	white-space: nowrap;

	cursor: pointer;

	transition: transform 0.4s ease;
	-webkit-transition: transform 0.4s ease;
}
