.calendar-container {
  overflow-x: hidden;
}
.calendar-header-container {
  position: relative;
  display: flex;
  display: -webkit-flex;

  align-items: center;
  justify-content: center;
}
.something {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
}
.calendar-month {
  color: var(--off-black-theme-color);
  user-select: none;
}
.calendar-switch-month-button {
  color: var(--turqoise-theme-color);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.calendar-switch-month-button:hover {
  color: var(--blue-theme-color);
  cursor: pointer;
}
.calendar-filter-container {
  position: absolute;
  top: 30%;
  right: 1%;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 40%;

  color: var(--off-black-theme-color);
  font-size: var(--large-font-size);
}
.calendar-table {
  display: flex;
  display: -webkit-flex;

  background-color: var(--light-blue-theme-color);
  flex-direction: column;
}
.calendar-day-titles-container {
  display: flex;
  border-bottom: 1px solid var(--light-blue-theme-color);
}
.calendar-day-heading {
  text-align: center;

  cursor: default !important;
}

.calendar-week {
  display: flex;
  border-bottom: 1px solid var(--light-blue-theme-color);
}
.calendar-week:last-child {
  border-bottom: none;
}
.calendar-day {
  min-height: 16.5vh;
  max-width: 14.28% !important;
  border-right: 1px solid var(--light-blue-theme-color);
}
.calendar-day-heading,
.calendar-day {
  width: 13%;
  background-color: var(--white-theme-color);
  flex: 1;
  user-select: none;
}
.calendar-day-heading:nth-child(7n),
.calendar-day:nth-child(7n) {
  border-right: none;
}
.past-calendar-day {
  color: var(--off-black-theme-color);
  background-color: var(--light-light-grey-theme-color);
}
.faded-calendar-days {
  background-color: var(--super-light-blue-theme-color);
}
.present-calendar-day {
  border-bottom: 4px solid var(--blue-theme-color);
}

.calendar-day-date {
  padding: 4px;
  float: left;
}

.date-plus-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.calendar-day-plus {
  background-color: transparent;
  color: var(--turqoise-theme-color);
  float: right;
  margin: 4px;

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.first-index-campaign {
  margin-left: 2px;
  padding: 0 5px 0 5px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.last-index-campaign {
  width: calc(100% - 3px) !important;

  margin-right: 20px !important;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.first-index-campaign,
.last-index-campaign,
.campaign {
  flex-basis: 0;
  display: flex;

  justify-content: space-around;
  align-items: center;

  width: calc(100% + 1px);
  min-height: 30px;

  margin-bottom: 2px;
  cursor: pointer;

  box-sizing: border-box;

  background-color: var(--blue-theme-color);
}
.calendar-post {
  width: 100%;
  max-width: 100%;
  max-height: 20px;

  padding: 2px 10px 2px 10px;

  color: var(--white-theme-color);

  border-radius: 100px;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;

  transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
}
