.calendar-container {
	overflow-x: hidden;
	padding-bottom: 50px;
}
.calendar-header-container {
	display: flex;
	display: -webkit-flex;

	align-items: center;
	justify-content: center;
}
.calendar-header {
	color: var(--black-theme-color);
	opacity: 0.8;
}
.calendar-switch-month-button {
	color: var(--turqoise-theme-color);
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.calendar-switch-month-button:hover {
	color: var(--green-theme-color);
	transform: scale(1.1);
	cursor: pointer;
}
.left {
	margin-left: 20%;
}
.right {
	margin-right: 20%;
}

.calendar-table {
	display: flex;
	display: -webkit-flex;

	background-color: var(--light-blue-theme-color);
	flex-direction: column;
}
.calendar-day-titles-container {
	display: flex;
}
.calendar-day-heading {
	margin-top: 2px !important;
	text-align: center;

	cursor: default !important;
}

.calendar-week {
	display: flex;
}
.calendar-day {
	min-height: 12vh;
}
.calendar-day-heading,
.calendar-day {
	flex-grow: 1;
	flex-basis: 0;

	max-width: 14.2857143%;
	margin: 0 2px 2px 0;
	padding: 0;
	background-color: var(--white-theme-color);

	cursor: pointer;
}
.calendar-day-heading:nth-child(7n),
.calendar-day:nth-child(7n) {
	margin-right: 0;
}
.calendar-day-heading:nth-child(7n + 1),
.calendar-day:nth-child(7n + 1) {
	margin-left: 0;
}
.faded-calendar-days {
	background-color: var(--super-light-blue-theme-color);
}
.calendar-day-date {
	margin: 4px;
	display: inline-block;
}
.calendar-day-plus {
	background-color: transparent;
	color: var(--turqoise-theme-color);
	float: right;
	margin: 4px;

	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.calendar-day:hover .calendar-day-plus {
	color: var(--green-theme-color);
	transform: scale(1.4);
}

.first-index-campaign {
	margin-left: 2px;
}
.first-index-campaign,
.campaign {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% + 2px);
	min-height: 30px;
	margin-bottom: 4px;
}
.calendar-post {
	max-height: 20px;

	padding: 2px 10px 2px 10px;
	color: var(--white-theme-color);

	border-radius: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: transform 0.4s ease;
	-webkit-transition: transform 0.4s ease;
}

.calendar-post:hover {
	transform: scale(1.1);
}
