.calendar-container {
}
.calendar-header-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  box-sizing: border-box;
}
.center-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-month {
  font-family: var(--silly-font-theme);
  color: var(--primary-text-theme-color);
  font-size: var(--h1-font-size);
  font-weight: bold;
  user-select: none;
}
.calendar-switch-month {
  color: var(--seven-primary-color);
}
.calendar-switch-month:hover {
  color: var(--five-primary-color);
}
.calendar-view-change {
  background-color: var(--seven-primary-color);

  color: var(--white-theme-color);
  font-family: var(--silly-font-theme);
  font-size: var(--h6-font-size);
}
.calendar-table {
  display: flex;
  flex-direction: column;
}
.calendar-day-titles-container {
  display: flex;
  border-bottom: 1px solid var(--divider-theme-color);
}
.calendar-day-heading {
  text-align: center;
  color: var(--primary-text-theme-color);
}
.calendar-week {
  display: flex;
  border-bottom: 1px solid var(--divider-theme-color);
}
.calendar-week:last-child {
  border-bottom: none;
}
.calendar-day {
  min-height: 17vh;
  border-right: 1px solid var(--divider-theme-color);
  background-color: var(--light-grey-theme-color);
}
.calendar-day-heading,
.calendar-day {
  max-width: 14.28% !important;
  flex: 1;
  user-select: none;
}
.calendar-day-heading:nth-child(7n),
.calendar-day:nth-child(7n) {
  border-right: none;
}
.past-calendar-day {
  color: var(--secondary-text-theme-color);
  background-color: var(--white-theme-color);
}
.present-calendar-day {
  border-bottom: 4px solid var(--five-primary-color);
}

.calendar-day-date {
  padding: 4px;
  float: left;
  color: inherit;
}

.date-plus-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  color: inherit;
}
.calendar-day-plus {
  background-color: transparent;
  color: var(--three-primary-color);
  float: right;
  margin: 4px;

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.first-index-campaign {
  margin-left: 2px;
  padding: 0 5px 0 5px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.last-index-campaign {
  width: calc(100% - 3px) !important;

  margin-right: 20px !important;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.first-index-campaign,
.last-index-campaign,
.campaign {
  flex-basis: 0;
  display: flex;

  justify-content: space-around;
  align-items: center;

  width: calc(100% + 1px);
  min-height: 30px;

  margin-bottom: 2px;
  cursor: pointer;

  box-sizing: border-box;

  background-color: var(--five-primary-color);
}
.calendar-post {
  width: 100%;
  max-width: 100%;
  max-height: 20px;

  padding: 2px 10px 2px 10px;

  color: var(--white-theme-color);

  border-radius: 100px;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;

  transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
}

.queue-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px 0 10px;
}
.queue-post-container {
  display: flex;

  width: 100%;
  padding: 10px 0 10px 0;

  border-top: 1px solid var(--nine-primary-color);
  cursor: pointer;
}
.queue-post-container:last-child {
  border-bottom: 1px solid var(--nine-primary-color);
}
.queue-post-attribute {
  flex: 3;
  flex-basis: 0;

  display: flex;
  align-items: center;
}
.queue-post-attribute.important {
  flex: 8;
}
