.posting-textarea {
	outline: 0;
	float: left;
	width: 100%;
	max-width: 100%;

	border-radius: 5px;
	margin-bottom: 5px;
	background: transparent;
}
.content-header {
	background-color: var(--white-theme-color);
}
.account-tab {
	width: 20%;
	display: inline-block;
	margin: 10px 0 10px 20px;
	border-radius: 50px;
	background-color: var(--blue-theme-color);
}
.account-tab button {
	padding: 15px 0 15px 0;
	width: 100%;
	background-color: transparent;
	color: inherit;
}
.active-account-tab {
	background-color: var(--green-theme-color);
	color: var(--black-theme-color) !important;
}
