.checkbox-and-writing-container {
  flex-shrink: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 10px 0 10px 0;
}
.checkbox-box {
  height: 10px;
  width: 10px;
  padding: 4px;
  margin-right: 10px;
  border: 2px solid var(--off-black-theme-color);
}
.checkbox-check {
  width: 9px;
  height: 5px;
  border-bottom: 2px solid var(--off-black-theme-color);
  border-left: 2px solid var(--off-black-theme-color);

  transform: rotate(-45deg);
}
