.custom-file-upload {
	border: 1px solid #ccc;
	padding: 6px 12px;
	cursor: pointer;
	margin: 0;
	padding: 4px;
	float: left;
	background-color: var(--blue-theme-color);
	border: none;
	border-radius: 5px;
	color: var(--white-theme-color);
	width: 100%;
	text-align: center;
}
.image-container {
	width: 25%;
	position: relative;
	display: inline-block;
	padding: 0;
}
.image-container i {
	top: 25%;
	left: 38%;
	position: absolute;
	display: none;
	transition: 0.5s ease;
}
.delete-image-container:hover i {
	z-index: 500;
	display: inline-block;
	color: red;
	cursor: pointer;
}
.image-container img {
	margin-top: 10px;
	width: 90%;
	transition: 0.5s ease;
	display: inline-block;
}

.delete-image-container:hover img {
	opacity: 0.5;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}
