.coming-soon {
	margin-top: 10%;
	font-size: 40px;
	color: var(--blue-theme-color);
	border: 2px solid var(--blue-theme-color);
	width: 50%;
	border-radius: 100px;
	padding: 10px;
	margin-bottom: 5%;
}
.activate-test-button {
	background-color: var(--blue-theme-color);
	margin: 0 35% 0 35%;
	width: 30%;
	height: 50px;
}
