.date-modal-container {
	position: fixed;

	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;

	padding: 20px;

	box-shadow: 0 0 20px 2px var(--secondary-text-theme-color);

	background-color: var(--white-theme-color);
}
