.recipe-navigation-container {
  flex-basis: 0;

  min-height: 60px;

  color: var(--primary-font-color);

  border-bottom: 1px solid var(--primary-font-color);
}
.recipe-navigation-option {
  border-bottom: 4px solid transparent;
  font-weight: 700;
  font-size: var(--sixteen-font-size);
}
.recipe-navigation-option:hover,
.recipe-navigation-option.active {
  color: var(--black-theme-color);
  border-color: var(--seven-blue-color);
}

.recipes-container-container {
  flex: 1;
  flex-wrap: wrap;
  padding: 16px;

  width: 100%;

  overflow: auto;
  background-color: var(--light-grey-theme-color) !important;
}

.recipes-container {
  display: flex;

  justify-content: flex-start;

  flex-wrap: nowrap;

  padding: 8px;
  width: 100%;
}
.recipe-container {
  position: relative;

  flex-basis: 0;
  flex: 1;

  min-height: 25vh;
  max-height: 25vh;

  background-color: var(--white-theme-color);
}
.recipe-container:hover .hover-active-div {
  background-color: var(--seven-blue-color);
  color: var(--white-theme-color);
}
.recipe-name {
  font-weight: bold;
}
.recipe-uses,
.recipe-name,
.recipe-description {
  width: 100%;
  padding: 0 10px 0 10px;

  font-size: var(--thirteen-font-size);
}

.recipe-uses,
.recipe-description {
  overflow: hidden;
}
.recipe-information-container {
  position: absolute;
  top: 100%;
  width: 100%;
}
.recipe-uses {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recipe-uses .blue {
  color: var(--nine-blue-color) !important;
}
.recipe-uses .italic {
  font-style: italic;
}
.hover-active-div {
  font-weight: bold;
  text-align: center;

  background-color: var(--seven-blue-color);
  color: var(--white-theme-color);
}

.preview-recipe {
  display: flex;

  justify-content: flex-start;
  flex-wrap: nowrap;

  width: 100%;
  padding: 10px;
  margin-top: 20px;

  background-color: var(--white-theme-color);
}

.recipe-posts-navigation {
  flex: 1;
  display: flex;

  justify-content: flex-start;
  flex-direction: column;

  max-height: 600px;

  overflow: auto;
  overflow-x: hidden;
}
.post-day {
  text-align: center;
}
.post-entry {
  flex-shrink: 0;
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  width: 100%;
  padding: 10px;

  border-radius: 2px;
  border: 2px solid transparent;

  background-color: var(--light-grey-theme-color);

  cursor: pointer;
}
.custom-task-block-color {
  height: 27px;
  width: 27px;
  border-radius: 4px;
  background-color: var(--orange-theme-color);
}
.recipe-post-name {
  padding-left: 4px;
}
.recipe-post-and-use-container {
  position: relative;
  flex: 2;

  display: flex;
  flex-direction: column;

  margin: 0 20px 0 20px;
  min-height: 200px;
}
.post-preview .title {
  font-weight: bold;
  font-size: var(--twenty-two-font-size);
  margin-bottom: 20px;
}
.preview-recipe-description {
}
.post-preview {
  flex: 1;
}
.recipe-attribute-container {
  display: flex;
}
.use-recipe-date-container {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}
.use-this-recipe {
  padding: 10px 20px 10px 20px;

  border-radius: 2px;

  background-color: var(--seven-blue-color);

  color: var(--white-theme-color);

  cursor: pointer;
}

.recipe-edit-delete-container {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.recipe-delete-button,
.recipe-edit-button {
  margin-right: 10px;
  cursor: pointer;
  color: var(--seven-blue-color);
  opacity: 0.6;
}
.recipe-delete-button {
  color: var(--red-theme-color);
}
.recipe-edit-button:hover,
.recipe-delete-button:hover {
  opacity: 1;
}

.custom-option {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  height: 100%;

  border-radius: inherit;
}

.file-icon-new {
  color: var(--seven-blue-color);
}
.new-campaign-text {
  text-align: center;
  font-size: var(--sixteen-font-size);
  font-weight: 700;
}
