.campaign-information-container {
  display: flex;

  flex-direction: column;

  width: 100%;

  padding: 40px 20px 20px 0;

  background-color: var(--white-theme-color);
  border-bottom: 0.5px solid var(--light-grey-theme-color);

  box-sizing: border-box;
}
.name-color-container {
  flex-basis: 0;

  flex: 1;
  display: flex;
}
.name-container {
  flex: 1;
  display: flex;
  align-items: center;

  padding-left: 28px;
}
.name-input {
  flex-grow: 1;

  padding: 4px 10px 4px 10px;
  margin-left: 10px;

  border-radius: 100px;
}
.color-picker-container {
  flex: 1;
  display: flex;

  justify-content: flex-start;
  align-items: center;

  padding-left: 28px;
}

.colors {
  display: flex;

  justify-content: center;
  align-items: center;
}
.color1-border,
.color2-border,
.color3-border,
.color4-border {
  padding: 5px;
  margin: 0 4px 0 4px;

  border-radius: 50%;
  border: 2px solid transparent;

  background-color: transparent !important;

  cursor: pointer;
}
.color1,
.color2,
.color3,
.color4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.color1-border:hover,
.color1-border.active,
.color1 {
  background-color: var(--campaign-color1);
  border-color: var(--campaign-color1);
}
.color2-border:hover,
.color2-border.active,
.color2 {
  background-color: var(--campaign-color2);
  border-color: var(--campaign-color2);
}
.color3-border:hover,
.color3-border.active,
.color3 {
  background-color: var(--campaign-color3);
  border-color: var(--campaign-color3);
}
.color4-border:hover,
.color4-border.active,
.color4 {
  background-color: var(--campaign-color4);
  border-color: var(--campaign-color4);
}

.dates-container {
  flex-grow: 1;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.date-and-label-container {
  flex: 1;

  display: flex;

  align-items: center;

  padding-left: 28px;
}

.campaign-start-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;

  padding-top: 20px;
}
.new-campaign-post-selection-write-up {
  text-align: center;

  font-size: var(--large-font-size);
}

.post-navigation-and-post-container {
  display: flex;

  min-width: 100%;
  min-height: 0;
}
.post-navigation-container {
  position: relative;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  padding-bottom: 50px;

  border-right: 0.5px solid var(--light-grey-theme-color);
  border-bottom: 0.5px solid var(--light-grey-theme-color);

  background-color: var(--light-light-grey-theme-color);
}

.new-post-prompt {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-width: 500px;

  margin-top: 20px;
}
.account-option {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;

  padding: 8px;
  margin-right: 4px;

  border-radius: 10px;
  border: 1px solid var(--grey-theme-color);

  font-size: var(--small-font-size);

  cursor: pointer;
}
.account-option:hover {
  background-color: var(--blue-theme-color);
  color: var(--white-theme-color);

  border-color: transparent;
}
.publish-as-recipe {
  position: absolute;
  bottom: 5px;

  width: 70%;

  padding: 8px 0 8px 0;

  border-radius: 20px;

  background-color: var(--blue-theme-color);
  color: var(--white-theme-color);

  text-align: center;

  cursor: pointer;
}

.post-container {
  flex-basis: 0;
  flex-grow: 5;
  display: flex;
  flex-direction: column;

  border-bottom: 0.5px solid var(--light-grey-theme-color);
}

.account-nav-bar-container {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 70%;

  margin: 20px 0 20px 0;

  border: 2px solid var(--blue-theme-color);
}

.new-post-button {
  width: 25px !important;
  height: 25px;

  padding: 8px;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--blue-theme-color);
  color: var(--white-theme-color);

  border-radius: 100px;

  cursor: pointer;
}
.arrow-down {
  color: var(--blue-theme-color);

  margin-left: auto;
  margin-right: auto;
}

.saved-box {
  min-width: 9px;

  margin-right: 5px;

  border-radius: 2px;
}
.delete-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes campaignModalAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
