.writers-brief-page-container {
	overflow: hidden;
}
.past-writers-brief-container {
	display: inline-block;
	border-bottom: 2px solid var(--three-primary-color);
	white-space: nowrap;
	width: 100%;
	max-width: 100% !important;
	overflow: auto;
	padding: 20px 0 0 0;
}
.writers-brief-button {
	background-color: var(--three-primary-color);
	margin: 0 0 0 20px;
	font-size: var(--large-font-size);
	padding: 10px;
}
.writers-brief-button:hover {
	background-color: var(--green-theme-color);
}
.writers-brief-button.active {
	background-color: var(--five-primary-color);
}
.new-writers-brief {
	background-color: var(--five-primary-color);
	padding: 10px;
	font-size: var(--large-font-size);
	margin: 0 0 10px 20px;
}

.writers-brief-form {
}

.container-placeholder {
	min-height: 100px;
	width: 80%;
	margin: 20px 0 20px 0;
	padding: 20px 10px 10px 10px;
	border-radius: 4px;
	background-color: var(--light-light-blue-theme-color);
	overflow: auto;
}

.textarea-social {
	width: 80%;
	outline: 0;
	min-height: 200px;

	border: 1px solid var(--secondary-text-theme-color);
	border-radius: 2px;
	margin: 10px;
	resize: none;
}
.textarea-social:focus {
	border: 1px solid var(--five-primary-color);
}

.add-new {
	cursor: pointer;
	float: left;
	margin: 10px 0 0 20px;
	border-radius: 100px;
	color: var(--five-primary-color);
	background-color: var(--white-theme-color);
}
.add-new:hover {
	color: var(--nine-primary-color);
}
