.chat-btn,
.chat-calendar-list-and-header,
.chat-calendar {
  position: fixed;
  bottom: 0px;
  right: 20px;

  min-width: 5vw;
  max-width: 50vw;
  max-height: 75vh;

  padding: 3px 12px;

  text-overflow: ellipsis;
  overflow: auto;
  white-space: nowrap;

  border-style: solid;
  border-color: red;
  border-radius: 4px;

  background-color: white;
}

.chat-btn {
  cursor: pointer;
  text-align: center;
}

.chat-calendar-list-header {
  text-align: right;
  cursor: pointer;
}

.chat-calendar-list {
  max-height: 40vh;
  overflow: auto;
}

.chat-calendar-btn {
  cursor: pointer;
}

.chat-calendar-header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.chat-calendar-header-back-btn {
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.chat-calendar-send-btn {
  background-color: red;
}

.chat-calendar-history {
  white-space: initial;
  max-height: 65vh;
  overflow: auto;
}

.chat-calendar-history-message {
  padding-left: 20px;
  text-indent: -20px;
}

.chat-calendar-input {
  width: 90%;
  margin: auto;
}

.chat-calendar-text-input {
  width: 85%;
}

.chat-calendar-send-btn {
  width: 15%;
}
