.ads-navigation {
  background-color: var(--one-half-primary-color);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.ads-tab {
  background-color: var(--three-primary-color);
  color: var(--white-theme-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  font-size: var(--medium-large-font-size);
}
.ads-tab.active {
  background-color: var(--seven-primary-color);
  color: var(--white-theme-color);
}
