.calendar {
}
.calendar-week-row {
  position: relative;
  display: flex;
}
.calendar-day-outline {
  min-height: 40px;
  width: 25%;

  border-top: 1px solid var(--divider-theme-color);
  border-right: 1px solid var(--divider-theme-color);
}
