.calendar-container {
  overflow-x: hidden;
  min-width: 600px;
  width: 100%;
}
.calendar-header-container {
  display: flex;
}
.calendar-day-titles-container {
  display: flex;
  border-bottom: 1px solid var(--divider-theme-color);
}
.calendar-day-heading {
  text-align: center;
  color: var(--primary-text-color);
}
.calendar-week {
  display: flex;
  border-bottom: 1px solid var(--divider-theme-color);
}
.calendar-week:last-child {
  border-bottom: none;
}

.past-calendar-day {
  color: var(--secondary-text-color);
  background-color: var(--light-grey-theme-color) !important;
}
.present-calendar-day {
  border-bottom: 4px solid var(--five-primary-color);
}
.calendar-day {
  min-height: 16vh;
  border-right: 1px solid var(--divider-theme-color);
  background-color: var(--white-theme-color);
}
.calendar-day-heading,
.calendar-day {
  flex: 1;
  user-select: none;
}
.calendar-day-heading:nth-child(7n),
.calendar-day:nth-child(7n) {
  border-right: none;
}

.calendar-day-date {
  padding: 4px;
  float: left;
  color: inherit;
}

.date-plus-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  color: inherit;
}
.calendar-day-plus {
  background-color: transparent;
  color: var(--five-primary-color);
  float: right;
}

.first-index-campaign {
}
.last-index-campaign {
}
.first-index-campaign,
.last-index-campaign,
.campaign {
  display: grid;
  grid-auto-flow: column;

  width: calc(100% + 1px);
  min-height: 34px;

  padding: 4px;

  margin-bottom: 2px;

  box-sizing: border-box;

  background-color: var(--five-primary-color);
}
.calendar-post {
  padding: 2px 8px 2px 8px;
  margin-right: 2px;
  color: var(--white-theme-color);

  overflow: hidden;
  white-space: nowrap;
}

.queue-container {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}
.queue-post-container {
  width: 100%;
  border-top: 1px solid var(--divider-theme-color);
}
.queue-post-container:last-child {
  border-top: 1px solid var(--divider-theme-color);
}
.queue-post-attribute {
  flex: 3;
  flex-basis: 0;

  align-items: center;
  word-break: break-word;
}
.queue-post-attribute.important {
  flex: 8;
}

.calendar-invite-accept,
.calendar-invite-reject {
  background-color: var(--seven-primary-color);
  margin-left: 4px;
  margin-bottom: 3px;
  border-radius: 4px;
}

.calendar-invite-accept:hover,
.calendar-invite-reject:hover {
  background-color: var(--eight-primary-color);
  cursor: pointer;
}
