@keyframes lds-wedges2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-wedges2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-circle {
  position: absolute;
  top: 45%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
}
.lds-wedges2 {
  background-color: red;
  transform: translate(-50px, -50px);
}
.lds-wedges2 > div > div {
  transform-origin: 50px 50px;
  animation: lds-wedges2 9s linear infinite;
}
.lds-wedges2 > div > div > div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50px 0 0 0;
}
.lds-wedges2 > div div:nth-child(1) > div {
  background: var(--turqoise-theme-color);
}
.lds-wedges2 > div div:nth-child(1) {
  animation-duration: 2.25s;
}
.lds-wedges2 > div div:nth-child(2) > div {
  background: var(--yellow-theme-color);
}
.lds-wedges2 > div div:nth-child(2) {
  animation-duration: 3s;
}
.lds-wedges2 > div div:nth-child(3) > div {
  background: var(--green-theme-color);
}
.lds-wedges2 > div div:nth-child(3) {
  animation-duration: 4.5s;
}
.lds-wedges2 > div div:nth-child(4) > div {
  background: var(--pink-theme-color);
}
.lds-wedges2 > div div:nth-child(4) {
  animation-duration: 9s;
}
