.create-blog-form {
	margin: 15px 0 0 0;
}
.create-blog-form input {
	border: 2px solid var(--grey-theme-color);
	border-radius: 4px;
	padding: 4px;
}
.create-blog-form-keyword {
	width: 30%;
	margin: 5px 5px 5px 0;
	box-sizing: border-box;
}
.create-blog-form-regular {
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.create-blog-form textarea {
	outline: none;
	width: 100%;
	border-radius: 4px;
	border: 2px solid var(--grey-theme-color);
	max-width: 100%;
	min-width: 100%;
	font-size: var(--large-font-size);
	margin-top: 5px;
	box-sizing: border-box;
}
