.campaign-modal {
	position: relative;
	display: flex;

	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	min-height: 80vh;
	min-width: 80%;

	padding: 0 0 20px 0;
	margin-top: 5vh;

	border-radius: 2px;

	background-color: var(--light-light-grey-theme-color);

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	animation: campaignModalAnimation 0.4s;
	-webkit-animation: campaignModalAnimation 0.4s;
}
.campaign-information-container {
	display: flex;

	justify-content: space-between;
	align-items: center;

	flex-direction: column;

	min-width: 100%;

	background-color: var(--white-theme-color);

	border-bottom: 0.5px solid var(--dark-grey-theme-color);
}
.name-color-container {
	display: flex;

	justify-content: space-between;
	align-items: center;

	width: 100%;
}
.name-container {
	display: flex;

	justify-content: flex-start;
	align-items: center;

	width: 50%;

	padding: 5px 20px 5px 20px;
}
.name-input {
	flex-grow: 1;

	margin-left: 5px;
	padding: 4px;

	border-radius: 6px;
}
.color-picker-container {
	display: flex;

	justify-content: flex-start;
	align-items: center;

	width: 50%;

	padding: 5px 20px 5px 20px;
}

.colors {
	flex-grow: 1;
	display: flex;

	justify-content: flex-start;
	align-items: center;

	padding-left: 20px;
}
.color1-border,
.color2-border,
.color3-border,
.color4-border {
	padding: 5px;
	margin: 0 4px 0 4px;

	border-radius: 50%;
	border: 2px solid transparent;

	background-color: transparent !important;

	cursor: pointer;
}
.color1,
.color2,
.color3,
.color4 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.color1-border:hover,
.color1-border.active,
.color1 {
	background-color: var(--campaign-color1);
	border-color: var(--campaign-color1);
}
.color2-border:hover,
.color2-border.active,
.color2 {
	background-color: var(--campaign-color2);
	border-color: var(--campaign-color2);
}
.color3-border:hover,
.color3-border.active,
.color3 {
	background-color: var(--campaign-color3);
	border-color: var(--campaign-color3);
}
.color4-border:hover,
.color4-border.active,
.color4 {
	background-color: var(--campaign-color4);
	border-color: var(--campaign-color4);
}

.dates-container {
	display: flex;

	justify-content: space-between;
	align-items: center;

	width: 100%;
}
.date-and-label-container {
	display: flex;

	justify-content: flex-start;
	align-items: center;

	width: 50%;

	padding: 5px 20px 5px 20px;
}

.post-navigation-and-post-container {
	display: flex;

	min-width: 100%;

	border-bottom: 0.5px solid var(--dark-grey-theme-color);
}
.post-navigation-container {
	flex-basis: 0;
	flex-grow: 1;

	display: flex;

	justify-content: flex-start;
	align-items: center;

	flex-direction: column;

	padding: 20px;

	border-right: 0.5px solid var(--dark-grey-theme-color);
	background-color: var(--light-light-grey-theme-color);
}
.post-list-container {
	display: flex;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 100%;
}
.post-list-entry {
	width: 90%;

	padding: 10px;
	margin-bottom: 10px;

	border-radius: 10px;
	border: 2px solid var(--grey-theme-color);
}
.new-post-button {
	cursor: pointer;
}

.new-post-prompt {
	display: flex;
	width: 100%;

	margin-top: 20px;
}
.account-option {
	flex: 1;

	text-align: center;

	padding: 10px;
	margin: 0 10px 0 10px;

	border-radius: 10px;
	border: 1px solid var(--grey-theme-color);

	cursor: pointer;
}
.account-option:hover {
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);

	border-color: transparent;
}

.posts-container {
	flex-basis: 0;
	flex-grow: 3;
	display: flex;
	flex-direction: column;
}
.post-container {
	display: flex;
	flex-direction: column;
}

.account-first-post-container {
	display: flex;

	justify-content: center;
	align-items: center;

	width: 70%;

	margin: 20px 0 20px 0;

	border: 2px solid var(--blue-theme-color);
}

.account-nav-bar-container {
	display: flex;

	justify-content: center;
	align-items: center;

	width: 70%;

	margin: 20px 0 20px 0;

	border: 2px solid var(--blue-theme-color);
}

@keyframes campaignModalAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
