.notification {
  position: fixed;

  top: 5px;
  right: 5px;
  z-index: 100;

  width: 20vw;
  padding: 10px;

  border-radius: 4px;

  color: var(--white-theme-color);
}
.notifcation-title {
  margin: 0;
  padding: 0;
  color: var(--white-theme-color);
}
.notification.success {
  background-color: var(--green-theme-color);
  color: var(--white-theme-color);
}
.notification.info {
  background-color: var(--four-primary-color);
  color: var(--white-theme-color);
}
.notification.danger {
  background-color: var(--red-theme-color) !important;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 8px;

  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: var(--red-theme-color);
}
