.website-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#logo-container {
  flex: 1;
}
#logo-blob-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#blob-under-login {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 350px;
}

#small-star-circle-under-login {
  position: absolute;
  top: 50px;
  right: 220px;
  z-index: 100;
  width: 100px;
}
#medium-likes-circle-under-login {
  position: absolute;
  top: 70px;
  right: 80px;
  z-index: -1;
  width: 220px;
}
