#website-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: transparent;

  z-index: 1;
}

#logo-container {
  flex: 1;
}
#logo-blob-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 500px;
  height: 500px;
}
