#website-header {
  position: fixed;
  display: flex;

  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  flex-wrap: wrap;
  z-index: 1;
  width: calc(100vw - 16px);
  max-width: 100%;
  justify-content: flex-end;
  transition: all 0.2s ease;

  box-sizing: border-box;
  pointer-events: none;
}

#logo-container {
  flex: 1;
}
