.account-tab {
  display: flex;
  display: -webkit-flex;

  align-items: center;
  justify-content: center;

  width: stretch;
  height: 100%;

  color: var(--white-theme-color);
  background-color: var(--seven-blue-color);

  opacity: 0.8;
  cursor: pointer;
}
.active-account-tab {
  opacity: 1;
  border-right: 4px solid var(--two-blue-color);
  background-color: var(--three-blue-color);
}
.connect-accounts-button {
  display: flex;
  display: -webkit-flex;

  align-items: center;
  justify-content: center;

  font-size: var(--twenty-four-font-size);
  color: var(--white-theme-color);
  background-color: var(--five-blue-color);

  margin: 10% 10% 50px 10%;

  height: 20%;

  cursor: pointer;
}
.connect-accounts-button:hover {
  background-color: var(--nine-blue-color);
}
