.new-post-prompt {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-width: 500px;

  margin-top: 20px;
}
.account-option {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;

  padding: 10px;
  margin: 0 10px 0 10px;

  border-radius: 10px;
  border: 1px solid var(--grey-theme-color);

  cursor: pointer;
}
.account-option:hover {
  background-color: var(--blue-theme-color);
  color: var(--white-theme-color);

  border-color: transparent;
}
