.post-navigation-container {
  position: relative;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  border-right: 0.5px solid var(--light-grey-theme-color);
  border-bottom: 0.5px solid var(--light-grey-theme-color);

  background-color: var(--light-light-grey-theme-color);
}
.new-post-button {
  width: 25px !important;
  height: 25px;

  padding: 8px;

  background-color: var(--blue-theme-color);
  color: var(--white-theme-color);

  border-radius: 100px;

  cursor: pointer;
}
.arrow-down {
  color: var(--blue-theme-color);
}
.publish-as-recipe {
  position: absolute;
  bottom: 5px;

  width: 70%;

  padding: 8px 0 8px 0;

  border-radius: 20px;

  background-color: var(--blue-theme-color);
  color: var(--white-theme-color);

  text-align: center;

  cursor: pointer;
}
.list-container {
  position: relative;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  flex-shrink: 0;

  width: 100%;
  height: 85%;

  box-sizing: border-box;

  margin: 0 20px 60px 20px;
  padding: 20px 0 60px 0;
  overflow: auto;
}
.list-entry-with-delete {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}
.list-entry {
  padding: 10px;

  border-radius: 10px;
  border: 1px solid var(--grey-theme-color);

  color: var(--white-theme-color);

  cursor: pointer;
}
