.screen-container {
  position: relative;

  min-height: 101vh;
  width: 100%;
}
.page-container {
  height: 100%;
  min-width: 800px !important;

  border-top-left-radius: 10px;
  overflow: hidden;
}
.website-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  min-height: 100vh;
}

.login-background {
  background-color: transparent;
  background: linear-gradient(transparent 50%, var(--five-blue-color) 50%);
}
