.competitor-input {
}
.add-competitor {
	cursor: pointer;
	float: left;
	margin: 10px 0 0 20px;
	border-radius: 100px;
	color: var(--blue-theme-color);
	background-color: var(--white-theme-color);
}
.add-competitor:hover {
	color: var(--dark-blue-theme-color);
}
