.plans-page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  min-height: 100vh;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 50%;
  height: 70vh;

  padding: 40px;

  background-color: var(--light-grey-theme-color);
}
.checkout-title {
  color: #34495e;
  font-size: var(--gigantic-font-size);
}
.checkout-row-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout-plan-label {
  color: var(--dark-grey-theme-color);
}
.checkout-plan {
  color: var(--primary-text-theme-color);
}
.checkout-plan-label,
.checkout-plan {
  padding: 20px 0 20px 20px;
  font-size: var(--medium-large-font-size);
}

.payment-length-container {
  display: flex;

  box-shadow: 0 0 2px 0 black;
}
.payment-length-option {
  flex: 1;

  padding: 10px 0 10px 0;

  text-align: center;
  background-color: var(--light-grey-theme-color);

  cursor: pointer;
}
.payment-length-option.active {
  background-color: var(--five-primary-color);
  color: var(--white-theme-color);
}

.checkout-payment-monthly-label,
.checkout-payment-total-due-label {
  color: var(--primary-text-theme-color);
}
.checkout-payment-monthly-label {
}
.checkout-payment-monthly,
.checkout-payment-total-due {
  text-align: right;
  flex: 1;
}

.checkout-payment-total-due-label {
  font-size: var(--medium-large-font-size);
}
.checkout-payment-total-due {
  font-size: var(--gigantic-font-size);
}

.pay-div-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.sign-up {
  font-size: var(--large-font-size);
  background-color: var(--five-primary-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 50px;
  width: 80%;

  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.sign-up:hover {
  transform: scale(1.1);
}
