.test {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 100vh;
  min-height: 100vh;
  width: 100%;

  overflow: hidden;
}
.test2 {
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  z-index: -1;
}
.test3 {
  width: 100%;
}
.home-main-1 {
  isolation: isolate;
}
.home-main-2 {
  fill: url(#radial-gradient);
}
.home-main-21,
.home-main-25,
.home-main-3 {
  fill: #fff;
}
.home-main-3,
.home-main-6 {
  opacity: 0.15;
}
.home-main-4,
.home-main-5,
.home-main-6,
.home-main-7 {
  fill: #58595b;
}
.home-main-5 {
  mix-blend-mode: overlay;
}
.home-main-6,
.home-main-7 {
  mix-blend-mode: darken;
}
.home-main-7 {
  opacity: 0.1;
}
.home-main-8 {
  fill: #e1f5ff;
}
.home-main-9 {
  fill: #24b7ff;
}
.home-main-10 {
  fill: #4dc4ff;
}
.home-main-11 {
  fill: #81d5ff;
}
.home-main-12 {
  fill: #b3e5ff;
}
.home-main-13 {
  fill: url(#radial-gradient-2);
}
.home-main-14 {
  fill: #0d57a4;
}
.home-main-15 {
  fill: url(#radial-gradient-3);
}
.home-main-16 {
  fill: #7700b3;
}
.home-main-17 {
  fill: #d580ff;
}
.home-main-18 {
  fill: #e6b3ff;
}
.home-main-19 {
  fill: url(#radial-gradient-4);
}
.home-main-20 {
  fill: url(#radial-gradient-5);
}
.home-main-22 {
  fill: url(#radial-gradient-6);
}
.home-main-23 {
  fill: url(#radial-gradient-7);
}
.home-main-24 {
  fill: url(#radial-gradient-8);
}
.home-main-25 {
  opacity: 0.95;
}
.home-main-26 {
  opacity: 0.9;
}
.home-main-27 {
  fill: #a6a8ab;
}
.home-main-28 {
  fill: #929497;
}
