.campaign-information-container {
  position: relative;

  width: 100%;
  min-height: 32px;

  box-sizing: border-box;

  border-top-right-radius: inherit;
  border-top-left-radius: inherit;

  background-color: var(--white-theme-color);
  border-bottom: 0.5px solid var(--light-grey-theme-color);
}
.campaign-title {
  font-family: var(--silly-font-theme);
  font-size: var(--gigantic-font-size);
}
.campaign-description {
}
.campaign-description,
.campaign-title {
  width: 100%;
  border: none;
  box-sizing: border-box;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.color-border {
}
.color {
  width: 20px;
  height: 20px;
}
.color-border:hover,
.color-border.active {
  border: 2px solid transparent;
}
