.profile-background {
  min-height: 100vh;
  width: 100%;
  

  background-color: var(--three-blue-color);
}
.profile-container {
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  background-color: var(--white-theme-color);
}
