.ghost-background {
  shape-rendering: geometricPrecision;
  background-color: transparent;

  width: 10vw;
  min-width: 100px;
}
.ghost-background.left {
  transform: rotateY(180deg);
}
.ghost-outer-shape {
  shape-rendering: geometricPrecision;
}
.ghost-body {
  fill: var(--four-primary-color);
  shape-rendering: geometricPrecision;
}
.ghost-eye {
  fill: var(--white-theme-color);
  shape-rendering: geometricPrecision;
}
.ghost-mouth {
  fill: var(--white-theme-color);
  shape-rendering: geometricPrecision;
}
.ghost-bottom-shadow {
  shape-rendering: geometricPrecision;
  fill: transparent;
}
