.header-navbar {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;

	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: var(--blue-theme-color);
	background: linear-gradient(to top, var(--blue-theme-color), var(--light-blue-theme-color) 150%);

	animation: headerSideBarAnimateLeft 0.4s;
}
.navbar {
}

.main-nav {
	padding-top: 30px;
}
.header-button {
	cursor: pointer;
	color: var(--white-theme-color);

	padding: 10px 16px 2px;
	display: block;
	border-bottom: 2px solid transparent;
	margin: 5px 10px 5px 10px;
}

.header-button.header-active {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}
.header-button:hover {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}
