.header-navbar {
  display: flex;

  height: 100vh;
}
.header-stationary-column {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: var(--seven-primary-color);
}
.navbar {
  background-color: var(--five-primary-color);
}

.header-button {
  position: relative;
  display: grid;
  grid-template-columns: 10px 10px;
  background-color: red;
  width: 100%;

  color: var(--white-theme-color);
  font-family: var(--silly-font-theme);

  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.test {
  background-color: purple;
}
.test2 {
  background-color: orange;
}
.header-button:hover,
.header-button.active {
  font-weight: bold;
  border-color: var(--white-theme-color);
}
