.header-navbar {
  display: flex;

  height: 100vh;
}
.header-stationary-column {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: var(--seven-primary-color);
}
.navbar {
  background-color: var(--five-primary-color);
}

.header-button {
  display: grid;
  grid-template-columns: 1fr 6fr;

  color: var(--white-theme-color);
  font-family: var(--silly-font-theme);

  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.header-button:hover,
.header-button.active {
  font-weight: bold;
  border-color: var(--white-theme-color);
}
