.modal0-content {
  position: absolute;

  align-items: center;

  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;
  overflow: hidden;

  animation: animateOpacity 0.2s;
  background-color: white;
}
.large-modal0 {
  position: fixed;

  display: flex;
  flex-direction: column;

  min-height: 90vh;
  height: 90vh;
  width: 80%;

  left: 10vw;
  right: 10vw;
  margin-top: 3vh;

  border-radius: 4px;

  z-index: 10;

  animation: animateOpacity 0.4s;
  overflow: hidden;
}
.modal0-header {
  margin: 0;
  width: 100%;
  background-color: var(--white-theme-color);
}

.modal0-body {
  flex: 1;
  position: relative;

  width: 100%;
  overflow: auto;
  background-color: var(--white-theme-color);
}

.modal0-footer {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-top: 1px solid var(--divider-theme-color);
  background-color: var(--white-theme-color);
}
