header {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 9999;

	width: 100%;
	box-shadow: 0px -5px 20px 0px;
}
.navbar {
	overflow: hidden;
	background-color: var(--blue-theme-color);
	background: linear-gradient(to top, var(--blue-theme-color), #80d6fe 150%);
	font-family: var(--font-theme);
	padding-right: 10%;
	color: var(--light-light-blue-theme-color);
}

.header-button {
	cursor: pointer;
	color: var(--white-theme-color) !important;
	font-size: var(--twelve-font-size);
	color: inherit;
	text-align: center;
	text-decoration: none;

	float: right;

	padding: 10px 16px 2px;

	-webkit-transition: color 0.3s;
	transition: color 0.3s;

	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.header-active {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}
.header-button:hover {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}
.dropdown {
	float: right;
	overflow: hidden;

	border-radius: 10px;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	text-align: left;

	float: none;
	padding: 10px 16px;

	display: block;

	border-radius: 10px;
	border: 4px solid var(--white-theme-color);

	-webkit-transition: color 2s;
	transition: color 2s;
}

.dropdown .dropbtn {
	font-size: var(--twelve-font-size);
	color: var(--white-theme-color);
	font-family: inherit;

	border: none;
	outline: none;

	padding: 10px 16px;
	margin: 0;

	background-color: inherit;

	border-radius: 10px;

	-webkit-transition: color 1s;
	transition: color 1s;
}

.dropdown:hover {
	border-radius: 10px;
	border: none;
}
.dropbtn:hover {
	border-radius: 10px;
	font-weight: bold;
}
.dropdown-content a:hover {
	border-radius: 10px;
	border: 4px solid var(--blue-theme-color);
	color: var(--black-theme-color);
}

.dropdown-content {
	display: none;
	position: absolute;

	cursor: pointer;
	min-width: 80px;

	z-index: 1;
	border-radius: 4px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

	border-radius: 10px;
	background-color: var(--white-theme-color);
}

.dropdown:hover .dropdown-content {
	display: block;
}
.big-round-button {
	font-size: var(--twelve-font-size);
	border: 2px solid var(--white-theme-color);
	background-color: var(--blue-theme-color);
	margin: 7px 0 0 7px;
	border-radius: 50px;

	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.big-round-button:hover {
	background-color: var(--green-theme-color);
}

.signed-in-as {
	width: 100%;
	background-color: var(--green-theme-color);
}
.signed-in-as p {
	padding: 0;
	margin: 0;
	color: var(--dark-green-theme-color);
	text-align: center;
	display: inline-block;
}
.signed-in-as button {
	padding: 0 0 0 20px;
	margin: 0;
	background-color: inherit;
	color: var(--red-theme-color);
	text-align: center;
	display: inline-block;
}
