.delete-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-down {
  color: var(--secondary-font-color);

  margin-left: auto;
  margin-right: auto;
}
