.campaign-title {
  font-family: var(--silly-font);
  font-size: var(--twenty-four-font-size);
}
.campaign-description,
.campaign-title {
  width: 100%;
  border: none;
  box-sizing: border-box;
  text-align: center;
  resize: none;
}
.color {
  width: 24px;
  height: 24px;
}
.color-border:hover,
.color-border.active {
  border: 2px solid transparent;
}
