.line-chart {
  shape-rendering: geometricPrecision;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.line-chart-axis {
  stroke: var(--divider-theme-color);
  fill: none;
  stroke-width: 2px;
  shape-rendering: geometricPrecision;
}
.line-chart-vertical-line {
  stroke: var(--divider-theme-color);
  fill: none;
  stroke-width: 0px;
  shape-rendering: geometricPrecision;
}
.line-chart-data-point {
  r: 1;
  stroke: var(--five-primary-color);
  fill: var(--five-primary-color);
  shape-rendering: geometricPrecision;
  transition: 1.5s ease;
}
.line-chart-connecting-line {
  stroke: var(--five-primary-color);
  stroke-width: 4px;
  shape-rendering: geometricPrecision;
  transition: 1.5s ease;
}
