.line-chart {
  shape-rendering: geometricPrecision;

  overflow: visible;
}
.line-chart-axis {
  stroke: var(--five-blue-color);
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}
.line-chart-vertical-line {
  stroke: #655c5c;
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
  opacity: 0.28;
}
.line-chart-horizontal-line {
  stroke: #ededed;
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}
.line-chart-data-point {
  r: 3;
  stroke: var(--five-blue-color);
  fill: var(--white-theme-color);
  shape-rendering: geometricPrecision;
  transition: 1.5s ease;
}
.line-chart-connecting-line {
  stroke: var(--five-blue-color);
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
  transition: 1.5s ease;
}
