.line-chart {
  shape-rendering: geometricPrecision;

  overflow: visible;
  min-height: 200px;
  height: 40vh;
}
.line-chart-axis {
  stroke: var(--five-blue-color);
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}
.line-chart-vertical {
  stroke: #655c5c;
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
  opacity: 0.28;
}
.line-chart-horizontal {
  stroke: #ededed;
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}
.line-chart-data-point-text {
  opacity: 0;
  fill: #ff6e5d;
  font-weight: bold;
  text-anchor: middle;
  transition: all 0.5s ease;
}
.line-chart-data-point:hover + .line-chart-data-point-text {
  opacity: 1;
}
.line-chart-data-point {
  r: 5;
  stroke: var(--five-blue-color);
  fill: var(--white-theme-color);
  shape-rendering: geometricPrecision;
  stroke-width: 2px;
  transition: 1.5s ease;
}
.line-chart-data-point:hover {
  r: 8;
  stroke: #ff6e5d;
  stroke-width: 6px;
  transition: 0.2s ease;
}
.line-chart-connecting {
  fill: none;
  stroke: var(--five-blue-color);
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
  transition: 1.5s ease;
}

.line-chart-vertical:hover + .line-chart-data-point {
  r: 6;
  stroke: #ff6e5d;
  stroke-width: 5px;
  transition: 0.2s ease;
}
