.login-input {
	font-family: var(--font-theme);
	font-size: var(--large-font-size);
	color: var(--font-theme-color);

	width: 90%;

	border: none;
	outline: none;
	display: inline-block;
}
.login-background {
	background-color: var(--blue-theme-color);
	background: linear-gradient(180deg, var(--blue-theme-color), var(--white-theme-color)150%);

	width: 50%;
	height: auto;
	min-height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	vertical-align: middle;
}
.login-background img {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.landing-page {
	width: 50%;
	height: 100%;
	min-height: 100%;
	right: 0;
	position: absolute;
	z-index: -1;
}
.landing-page img {
	filter: brightness(55%);
}
.landing-page div {
	text-align: center;
}
.landing-page div button {
	background-color: transparent;
	border: 2px solid var(--white-theme-color);
	font-size: var(--large-font-size);
	border-radius: 4px;
}

.landing-page .lpcontainer {
	position: absolute;
	color: var(--white-theme-color);
	width: 80%;
	margin-top: 45%;
	padding-left: 40px;
}
.landing-page h1 {
	color: var(--white-theme-color);
}
.landing-page h5 {
	color: var(--white-theme-color);
}
.form-box {
	width: 70%;
	height: 70%;
	background-color: var(--white-theme-color);
	border: 2px solid #000;

	text-align: center;
	margin: auto;

	margin-top: 5%;
	border-radius: 2px;
	border: 10px solid #eeeeef;
}
.login-box {
	width: 80%;
	height: 80%;
	background-color: var(--white-theme-color);

	text-align: center;
	margin: auto;
	margin-top: 2%;

	border-radius: 10px;
	border: 2px solid var(--white-theme-color);
	box-shadow: 0 0 20px 0;
}

.login-switch {
	cursor: pointer;
	border-bottom: 2px solid var(--blue-theme-color);
	margin: auto;
	margin-bottom: 5%;
}
