.activate-header-button {
	color: var(--blue-theme-color);
	background-color: var(--white-theme-color);

	top: 5px;
	left: 5px;
	position: absolute;
	border-radius: 4px;

	padding: 8px 12px 8px 12px;

	z-index: 1;
	cursor: pointer !important;

	border: 2px solid var(--blue-theme-color);

	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.activate-header-button:hover {
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}
.header-navbar {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;

	width: 20%;
	height: 100vh;
	background-color: var(--blue-theme-color);
	background: linear-gradient(to top, var(--blue-theme-color), var(--light-blue-theme-color) 150%);

	animation: headerSideBarAnimateLeft 0.4s;
}
.navbar {
}

.main-nav {
	padding-top: 30px;
}
.header-button {
	cursor: pointer;
	color: var(--white-theme-color);

	padding: 10px 16px 2px;
	display: block;
	border-bottom: 2px solid transparent;

	margin: 5px 10px 5px 10px;
}

.header-button.header-active {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}
.header-button:hover {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}

.signed-in-as {
	width: 100%;
	background-color: var(--green-theme-color);
}
.signed-in-as p {
	padding: 0;
	margin: 0;
	color: var(--white-theme-color);
	text-align: center;
	display: inline-block;
}
.signed-in-as button {
	padding: 0 0 0 20px;
	margin: 0;
	background-color: inherit;
	color: var(--red-theme-color);
	text-align: center;
	display: inline-block;
}
