.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  transition: all 0.2s ease;
}
.header-stationary-column {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: var(--seven-primary-color);
}
.navbar {
  background-color: var(--five-primary-color);
  overflow: auto;
}

.header-button {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;

  color: var(--white-theme-color);
  font-family: var(--silly-font);

  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.header-button:hover,
.header-button.active {
  font-weight: bold;
  border-color: var(--white-theme-color);
}
