.activate-header-button {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	border-radius: 100px;
	color: var(--blue-theme-color);
	cursor: pointer !important;
}
.activate-header-button:hover {
	color: var(--green-theme-color);
}
.header-navbar {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;

	width: 20%;
	height: 100vh;
	background-color: var(--blue-theme-color);
	background: linear-gradient(to top, var(--blue-theme-color), var(--light-blue-theme-color) 150%);

	animation: headerSideBarAnimateLeft 0.4s;
}
.navbar {
}

.main-nav {
	padding-top: 30px;
}
.header-button {
	cursor: pointer;
	color: var(--white-theme-color);

	padding: 10px 16px 2px;
	display: block;
	border-bottom: 2px solid transparent;

	margin: 5px 10px 5px 10px;
}

.header-button.header-active {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}
.header-button:hover {
	font-weight: bold;
	border-bottom: 2px solid var(--white-theme-color);
}

.signed-in-as {
	width: 100%;
	background-color: var(--green-theme-color);
}
.signed-in-as p {
	padding: 0;
	margin: 0;
	color: var(--white-theme-color);
	text-align: center;
	display: inline-block;
}
.signed-in-as button {
	padding: 0 0 0 20px;
	margin: 0;
	background-color: inherit;
	color: var(--red-theme-color);
	text-align: center;
	display: inline-block;
}
