.full-form {
	padding: 50px 20px 100px 20px;
	overflow: hidden;
}
.form-title {
	margin: 10px 0 0 2.5%;
	border-bottom: 2px solid var(--pink-theme-color);
	float: left;
}

.input-container {
	margin: 20px 0 0 0;
	padding: 10px;
	width: 95%;
	background-color: var(--light-blue-theme-color);
}

.input-textarea {
	display: block;
	font-size: var(--regular-font-size);
	box-sizing: border-box;

	width: 100%;
	min-height: 100px;

	padding: 0;
	margin: 0;

	outline: none;
	border: 1px solid transparent;

	resize: none;
}
.input-textarea:focus {
	border: 1px solid var(--blue-theme-color);
}
.strategy-input-theme {
	font-size: var(--regular-font-size);
	width: 30%;
	float: left;

	margin: 10px 0 10px 10px;
	padding: 4px;

	border: 1px solid var(--light-blue-theme-color);
}
.strategy-input-theme:focus {
	border: 1px solid var(--blue-theme-color);
}
.big-purple-submit-button {
	color: var(--white-theme-color);
	font-weight: bold;
	font-size: var(--extra-large-font-size);
	background-color: var(--pink-theme-color);
	opacity: 0.4;

	padding: 10px;
	border-radius: 4px;

	position: fixed;

	bottom: 20px;
	width: 20%;
	left: 40%;

	z-index: 100;

	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.big-purple-submit-button:hover {
	transform: scale(1.1);
	opacity: 1 !important;
}
