.create-placeholder-form {
	margin: 5px 0 0 0;
}
.create-placeholder-form input {
	border: 1px solid var(--grey-theme-color);
	border-radius: 4px;
	padding: 4px;
}
.create-placeholder-form input:focus {
	border: 1px solid var(--blue-theme-color);
}
.create-placeholder-form-keyword {
	width: 30%;
	margin: 5px 5px 5px 0;
	box-sizing: border-box;
}
.create-placeholder-form-regular {
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.create-placeholder-form textarea {
	outline: none;
	border-radius: 4px;
	border: 1px solid var(--grey-theme-color);
	min-height: 40px;
	width: stretch;
	max-width: 100%;
	margin-top: 5px;
	box-sizing: border-box;
	resize: none;
}
.create-placeholder-form textarea:focus {
	border: 1px solid var(--blue-theme-color);
}
