.connected-social-div {
	display: block;
	width: 80%;
	color: var(--black-theme-color);
}
.connected-social-div h4 {
	text-align: left;
	color: var(--black-theme-color);
	font-weight: normal;
	margin: 0;
}
.connected-accounts-div-footer {
	border-bottom: 2px solid var(--light-blue-theme-color);
	width: 90%;
}
.connected-social-div p {
	text-align: left;
	color: var(--dark-grey-theme-color);
	font-weight: normal;
	font-size: var(--regular-font-size);
	margin-top: 10px;
}
.connected-accounts-header {
	color: var(--black-theme-color);
	width: 90%;
	border-bottom: 2px solid var(--pink-theme-color);
}
.social-header-button {
	width: 100%;
	margin: 20px 0 10px 0;
	font-size: var(--large-font-size);
}
