#circle-love {
  z-index: 1;
  position: absolute;
  top: 8vw;
  right: -2vw;
  width: 150px;
}

#circle-likes-2 {
  z-index: 1;
  position: absolute;
  top: 5vw;
  left: -5vw;
  width: 150px;
}

.blue-shadow-fade {
  box-shadow: 0 12px 24px 0 rgba(5, 164, 255, 0.26);
  border: solid 10px #ffffff;
}
