.select-accounts-header {
}
.accounts-container {
  display: grid;
  grid-template-columns: auto auto;
}
.account-container {
  display: flex;

  margin-right: 10px;

  opacity: 0.6;

  cursor: pointer;
}

.account-icon {
  display: flex;

  color: var(--white-theme-color);

  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;

  border-radius: 100px;

  margin: 0;
  padding: 0;
}
.account-title-type-container {
  display: flex;

  flex-direction: column;
}
.account-name {
}
.account-type {
  color: var(--dark-grey-theme-color);
}
.common-active {
  opacity: 1;
}
