.navigation-container {
	display: inline-block;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 4px;
}

.nagivation-option {
	color: var(--font-theme-color);
	cursor: pointer;

	display: block;
	text-decoration: none;
	text-align: center;
	font-size: var(--large-font-size);
	border-radius: 4px;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;

	border: 2px solid var(--light-grey-theme-color);
}

.nagivation-option:hover:not(.active) {
	border-radius: 20px;
	border: 2px solid var(--blue-theme-color);
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}

.nagivation-option.active {
	border-radius: 20px;
	border: 2px solid var(--blue-theme-color);
	background-color: var(--blue-theme-color);
	color: var(--white-theme-color);
}
