.carousel-container {
	float: left;
	background-color: transparent;
}

.carousel {
}
.carousel-image-container {
	background-color: transparent;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	white-space: nowrap;
}
.carousel-image {
	max-width: 200px;
	max-height: 150px;
}
.carousel-previous-button,
.carousel-next-button {
	background-color: var(--blue-theme-color);
}
.carousel-next-button {
}
.carousel-previous-button {
}
